{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "DEMO API",
      "url": "https://startup2050.com/api/"
    },
    {
      "description": "Localhost API",
      "url": "http://localhost:8000/api/"
    }
  ],
  "info": {
    "description": "3M Platform API - A comprehensive platform for user interactions, messaging, financial management, and profile management.\n\n## Overview\n\nThis API provides a complete solution for the 3M Platform, featuring user authentication, profile management, real-time messaging, financial transactions, and support systems. All endpoints use Laravel Sanctum for authentication with Bearer tokens.\n\n## Latest Updates (October 17, 2025)\n\n**Budget Upgrade Feature:**\n- Added budget upgrade pricing calculation endpoint\n- Added budget upgrade payment submission endpoint\n- Enhanced insufficient budget flow for users with active subscriptions\n- Added detailed pricing breakdown for budget upgrades\n- Enhanced chat endpoints with message visibility based on budget and subscription status\n\n## Key Features\n\n- **User Management**: Complete profile and financial profile management\n- **Real-time Communication**: Chat system with AI moderation, file attachments, and budget-based message visibility\n- **Financial Services**: Wallet management, transactions, subscription plans, and budget upgrade functionality\n- **Social Features**: User interactions, blocking, and reporting systems\n- **Support System**: Ticket management with file attachments and spam protection\n- **Search & Discovery**: Advanced user search with filtering and pagination\n- **Options API**: Static configuration options and predefined values for UI components\n\n## Authentication\n\nMost endpoints require Bearer token authentication:\n```\nAuthorization: Bearer {your_token}\n```\n\n## Rate Limiting\n\n- Chat: 60 requests/minute (30 for sending messages)\n- Support: 10 requests/day per IP\n- General: Varies by endpoint\n\nFor detailed information about specific API sections, please refer to the individual tag descriptions below.",
    "version": "1.1.0",
    "title": "3M Api",
    "contact": {
      "email": "alfi.dev@startup2050.com",
      "name": "Api Developer",
      "url": ""
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints related to user authentication, including login, logout, token management, and API key validation. These routes are used to verify user credentials, establish secure access to the API, and handle user session termination with optional OneSignal subscription cleanup."
    },
    {
      "name": "Profile",
      "description": "Endpoints for viewing, updating, and managing the authenticated user's profile information, such as personal details, preferences, photos, and account settings. Includes comprehensive Profile Images and Albums API for organizing user photos into different categories like personal photos, places visited, interests, and fashion choices."
    },
    {
      "name": "Financial Profile",
      "description": "Endpoints for managing user financial profile information including budget, capital level, income, milestone settings, and financial options. All endpoints require Bearer token authentication."
    },
    {
      "name": "Currencies",
      "description": "Get all the available currencies data"
    },
    {
      "name": "Chat",
      "description": "The Chat API provides comprehensive messaging functionality for the platform, including direct messaging, message management, and chat room operations. All endpoints require authentication and integrate with RocketChat for real-time messaging. Features include AI-powered content moderation with strike system, file attachments, real-time events, chat archiving, message search, and rate limiting. The API supports both text messages and file attachments, with automatic content moderation that can disable chat between users based on violation strikes."
    },
    {
      "name": "Reports & Interactions",
      "description": "Endpoints for user interactions including profile management (archive, save, interest), user blocking, zoom call requests, and user reporting. All endpoints require Bearer token authentication."
    },
    {
      "name": "Contracts",
      "description": "Endpoints for managing contracts between sponsors and seekers, including contract creation, approval, modification, and lifecycle management."
    },
    {
      "name": "People",
      "description": "The People API provides endpoints for viewing public user profiles and their information. These endpoints allow authenticated users to view other users' profiles using their public username. All endpoints require Bearer token authentication and return comprehensive profile data including personal information, relationship preferences, financial details, living arrangements, and profile images. The API also includes a public endpoint for retrieving age ranges used in profile display and search functionality."
    },
    {
      "name": "Support Tickets",
      "description": "Endpoints for managing support tickets, including creating, viewing, updating tickets, retrieving categories, statuses, and notification options, and managing ticket messages with file attachments. Supports both authenticated users and guest access with pagination. File attachments support PDF, JPG, JPEG, PNG (max 15MB each). Rate limited: 10 requests per day per IP, 20 requests per day per IP network. All endpoints use optional authentication middleware, working with Bearer tokens or X-Guest-Email headers. Includes spam protection, file validation, and comprehensive ticket lifecycle management."
    },
    {
      "name": "Notifications",
      "description": "The Notifications API provides comprehensive endpoints for managing user notifications, including listing, filtering, marking as read, updating importance, and managing user preferences. All endpoints require Bearer token authentication.\n\n## Features\n\n- **Filtering & Pagination**: Filter by importance (low/medium/high), categories, and read status with pagination support\n- **Read Management**: Mark individual or all notifications as read\n- **Importance Control**: Update notification importance (except for Notice category)\n- **User Preferences**: Manage notification delivery preferences (email/push) and content type\n- **Real-time Count**: Get unread notification count for badges\n- **Styling Support**: Pre-calculated CSS classes and hex colors for consistent UI rendering\n- **Link Extraction**: Automatic extraction of URLs from message content (domain removed, path only)\n\n## Notification Types\n\n### Profile Notifications\n- **Category**: `Profile` | **Group**: `Profile` | **Importance**: medium (default, changeable)\n- Sent when someone marks a user as interested\n- Includes interested user details (ID, name, avatar)\n- **Styling**: Icon bg-pink-400 (#F472B6), Category bg-pink-100 text-pink-700\n\n### Notice Notifications\n- **Category**: `Notice` | **Group**: `Notice` | **Importance**: Set by admin (unchangeable)\n- System-generated notifications with HTML content support\n- Automatically extracts links from message content into `links_in_message` array\n- **Styling**: Icon bg-blue-400 (#60A5FA), Category bg-blue-100 text-blue-700\n- **Note**: Importance cannot be changed by users\n\n### Balance Notifications\n- **Categories**: `BalanceIncrease`, `BalanceDecrease` | **Group**: `Balance` | **Importance**: low (default, changeable)\n- Sent for wallet transactions and balance changes\n- Includes transaction details (ID, amount, currency)\n- **Styling**: Icon bg-green-400 (#4ADE80), Category bg-green-100 text-green-700\n\n### Contract Notifications\n- **Categories**: `ContractOfferReceived`, `ContractOfferSent`, `ContractStopped`, `ContractApproved`, `ContractRestarted`, `ContractPausedReminder`, `ContractRejected`, `ContractChangeRequested`\n- **Group**: `Contract` | **Importance**: medium (default, changeable)\n- **Styling**: Icon bg-purple-400 (#A78BFA), Category bg-purple-100 text-purple-700\n\n### Chat Notifications\n- **Category**: `Chat` | **Importance**: medium (default, changeable)\n- Sent for chat-related activities\n\n## Implementation Notes\n\n1. **Filtering**: Use query parameters to filter by importance, categories (comma-separated), and read status\n2. **Pagination**: All list endpoints support `per_page` and `page` parameters (default: 15/page)\n3. **Importance Updates**: Only non-Notice notifications can have their importance changed\n4. **Preferences**: Automatically created with defaults if they don't exist\n5. **Styling**: Each notification includes CSS classes and hex colors for consistent UI rendering\n6. **Link Extraction**: The `links_in_message` field extracts all HTML anchor tag URLs, removes domains, and keeps only paths for easy in-app navigation\n7. **Timezone Support**: Timestamps provided in both UTC and user's local timezone with formatted versions\n\n## Mobile App Integration\n\n### Recommended Flow\n1. **App Launch**: GET `/unread-count` for badge\n2. **Notifications Screen**: GET `/filter` for options, then GET `/` with filters\n3. **Notification Tap**: GET `/{id}` for details, then POST `/{id}/mark-read`\n4. **Settings**: Use `/preferences` endpoints\n5. **Background Sync**: Periodically call `/unread-count`\n\n### Link Navigation\nUse the `links_in_message` array to navigate to links extracted from notification messages:\n```javascript\nif (notification.links_in_message.length > 0) {\n  const path = notification.links_in_message[0];\n  router.push(path); // Navigate to /profile/edit, /settings, etc.\n}\n```"
    },
    {
      "name": "Affiliate",
      "description": "Endpoints for managing affiliate links, statistics, and earnings. All endpoints require Bearer token authentication using Laravel Sanctum."
    },
    {
      "name": "Wallet",
      "description": "Endpoints for managing user wallet and balance information, including retrieving current balance, deposits, withdrawals, and purchase power. All endpoints require Bearer token authentication."
    },
    {
      "name": "Search",
      "description": "Endpoints for searching user profiles with advanced filtering options including location, budget, languages, and custom parameters. Features automatic role-based filtering (sponsors see seekers, seekers see sponsors), mutual interest visibility, location-based search using Haversine formula, currency conversion for budget comparisons, and comprehensive custom parameter filtering across general info, relationship preferences, financial details, and living preferences. Supports pagination, sorting by budget/age/created date, and subscription-based filtering. All endpoints require Bearer token authentication."
    },
    {
      "name": "Subscription",
      "description": "Endpoints for managing user subscriptions, including viewing current subscription, available plans, submitting subscriptions, and managing budget upgrades. All endpoints require Bearer token authentication using Laravel Sanctum."
    },
    {
      "name": "Transactions",
      "description": "Endpoints for managing user transactions, including viewing transaction history, details, status, and cancellation. All endpoints require Bearer token authentication using Laravel Sanctum. Supports filtering by status and type, with comprehensive transaction data including payments, subscription plans, and counterparty information. Features include status styling with CSS classes and color codes, pagination, and detailed transaction relationships."
    },
    {
      "name": "Options",
      "description": "Endpoints for retrieving static configuration options and predefined values used throughout the 3M Matching Platform. These endpoints return static data that clients can use to populate dropdown menus, form fields, and other UI components. All options endpoints are public and do not require authentication."
    },
    {
      "name": "Account Management",
      "description": "Endpoints for managing user account settings including username, password, and email updates. All endpoints require authentication using Laravel Sanctum Bearer tokens. Features include validation, activity logging, and security measures for account modifications."
    },
    {
      "name": "OneSignal",
      "description": "Endpoints for managing OneSignal push notification subscriptions and player IDs. Handles device registration, subscription management, and logout cleanup for push notifications. All endpoints require Bearer token authentication using Laravel Sanctum."
    }
  ],
  "paths": {
    "/login": {
      "parameters": [],
      "servers": [],
      "post": {
        "summary": "POST",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "login_name": {
                              "type": "string"
                            },
                            "public_username": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "null"
                            },
                            "last_name": {
                              "type": "null"
                            },
                            "email": {
                              "type": "string"
                            },
                            "email_verified_at": {
                              "type": "string"
                            },
                            "email_verified": {
                              "type": "integer"
                            },
                            "gender": {
                              "type": "string"
                            },
                            "partner_preference": {
                              "type": "string"
                            },
                            "relationship_goals": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "profile_picture": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "deleted_at": {
                              "type": "null"
                            },
                            "profile_picture_url": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "Login successful",
                      "data": {
                        "user": {
                          "id": 5,
                          "login_name": "alfi_syah",
                          "public_username": "alfi_syah",
                          "first_name": null,
                          "last_name": null,
                          "email": "mrriyous@gmail.com",
                          "email_verified_at": "2025-06-02T06:15:00.000000Z",
                          "email_verified": 1,
                          "gender": "male",
                          "partner_preference": "female",
                          "relationship_goals": "long-term",
                          "role": "rs",
                          "profile_picture": "profile-pictures/5_1749097276.jpg",
                          "created_at": "2025-06-02T06:14:41.000000Z",
                          "updated_at": "2025-06-05T04:21:16.000000Z",
                          "deleted_at": null,
                          "profile_picture_url": "https://startup2050.com/storage/profile-pictures/5_1749097276.jpg"
                        },
                        "token": "93|y3wTIV52GxASW7x0YYViJVIYy55TBpYrxq0VAzZ0c452f980"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "recaptcha": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "errors": {
                        "recaptcha": [
                          "reCAPTCHA verification failed. Please try again"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "login",
        "description": "",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "is_mobile"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "xd3rw9p0duu5z"
                    }
                  },
                  "password": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "2umpyvtmq04af"
                    }
                  },
                  "recaptcha": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "o3tid2pdqufw1"
                    },
                    "description": "Required if is_mobile != Y"
                  },
                  "is_mobile": {
                    "x-stoplight": {
                      "id": "ov3l324vg1t69"
                    },
                    "enum": [
                      "Y",
                      "N"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Registration",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Step 1 - Initial Validation Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "description": "Indicates if there was an error",
                      "example": false
                    },
                    "recaptcha_session_id": {
                      "type": "string",
                      "description": "Session ID for Step 2 reCAPTCHA verification",
                      "example": "abc123xyz456..."
                    }
                  },
                  "required": ["error", "recaptcha_session_id"]
                },
                "examples": {
                  "Success": {
                    "summary": "Successful Step 1 validation",
                    "value": {
                      "error": false,
                      "recaptcha_session_id": "abc123xyz456..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Step 1 - Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "description": "Indicates there was an error",
                      "example": true
                    },
                    "errors": {
                      "type": "object",
                      "description": "Validation error details",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "login_name": ["This login name is already taken"],
                        "password": ["Password must contain at least one special character"]
                      }
                    }
                  },
                  "required": ["error", "errors"]
                },
                "examples": {
                  "Validation Error": {
                    "summary": "Step 1 validation failed",
                    "value": {
                      "error": true,
                      "errors": {
                        "login_name": ["This login name is already taken"],
                        "password": ["Password must contain at least one special character"]
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Step 2 - Registration Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "description": "Indicates if there was an error",
                      "example": false
                    },
                    "user": {
                      "type": "object",
                      "description": "Created user information",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "User ID",
                          "example": 1
                        },
                        "login_name": {
                          "type": "string",
                          "description": "User's login name",
                          "example": "johndoe123"
                        },
                        "public_username": {
                          "type": "string",
                          "description": "User's public display name",
                          "example": "JohnDoe"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "User's first name",
                          "example": "John"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "User's last name",
                          "example": "Doe"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "User's email address",
                          "nullable": true,
                          "example": "john@example.com"
                        },
                        "gender": {
                          "type": "string",
                          "description": "User's gender",
                          "example": "male"
                        },
                        "partner_preference": {
                          "type": "string",
                          "description": "User's partner preference",
                          "example": "female"
                        },
                        "duration_preference": {
                          "type": "string",
                          "description": "User's relationship duration preference",
                          "nullable": true,
                          "example": "long_term_relationship"
                        },
                        "role": {
                          "type": "string",
                          "description": "User's role in the platform",
                          "example": "rs"
                        },
                        "affiliate_code": {
                          "type": "string",
                          "description": "User's generated affiliate code",
                          "example": "ABC123XYZ"
                        },
                        "is_test_user": {
                          "type": "integer",
                          "description": "Indicates if user is a test user",
                          "example": 0
                        },
                        "timeoffset": {
                          "type": "number",
                          "description": "User's timezone offset in minutes",
                          "nullable": true,
                          "example": -300
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "User creation timestamp",
                          "example": "2024-03-20T10:00:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "User last update timestamp",
                          "example": "2024-03-20T10:00:00Z"
                        }
                      },
                      "required": ["id", "login_name", "public_username", "first_name", "last_name", "gender", "partner_preference", "role", "affiliate_code", "is_test_user", "created_at", "updated_at"]
                    },
                    "token": {
                      "type": "string",
                      "description": "Authentication token for the created user",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                    }
                  },
                  "required": ["error", "user", "token"]
                },
                "examples": {
                  "Success": {
                    "summary": "Successful registration",
                    "value": {
                      "error": false,
                      "user": {
                        "id": 1,
                        "login_name": "johndoe123",
                        "public_username": "JohnDoe",
                        "first_name": "John",
                        "last_name": "Doe",
                        "email": "john@example.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "duration_preference": "long_term_relationship",
                        "role": "rs",
                        "affiliate_code": "ABC123XYZ",
                        "is_test_user": 0,
                        "timeoffset": -300,
                        "created_at": "2024-03-20T10:00:00Z",
                        "updated_at": "2024-03-20T10:00:00Z"
                      },
                      "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Step 2 - Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "description": "Indicates there was an error",
                      "example": true
                    },
                    "errors": {
                      "type": "object",
                      "description": "Validation error details",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "recaptcha_session_id": ["reCAPTCHA verification failed. Please try again"],
                        "gender": ["Gender is required"],
                        "partner_preference": ["Partner preference is required"],
                        "duration_preference": ["Please select your relationship duration preference"],
                        "role": ["Role is required"],
                        "budget": ["Minimum budget required is 100"],
                        "currency": ["Invalid currency"]
                      }
                    }
                  },
                  "required": ["error", "errors"]
                },
                "examples": {
                  "Validation Error": {
                    "summary": "Step 2 validation failed",
                    "value": {
                      "error": true,
                      "errors": {
                        "recaptcha_session_id": ["reCAPTCHA verification failed. Please try again"],
                        "gender": ["Gender is required"],
                        "partner_preference": ["Partner preference is required"],
                        "duration_preference": ["Please select your relationship duration preference"],
                        "role": ["Role is required"],
                        "budget": ["Minimum budget required is 100"],
                        "currency": ["Invalid currency"]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "registration",
        "description": "Registration API with two-step process for user account creation.\n\n## Step 1: Initial Validation\nValidates user credentials and performs reCAPTCHA verification. Returns a session ID for Step 2.\n\n## Step 2: Complete Registration\nCompletes user registration with additional profile information and creates the user account.\n\n### Key Features:\n- Two-step registration process with reCAPTCHA verification\n- Mobile registration support (skips reCAPTCHA when is_mobile=Y)\n- Comprehensive validation for all fields\n- Automatic profile creation (financial, relationship, visibility settings)\n- Affiliate/referral system support\n- Timezone handling with offset or timezone identifier\n- Budget conversion to system default currency\n- RocketChat integration\n- Email verification and welcome notifications\n- Test user detection (login_name starting with 'test_')\n\n### Validation Rules:\n- login_name: 4-20 chars, alphanumeric with ._\n- public_username: 3-20 chars, alphanumeric with ._\n- password: min 8 chars, 1 uppercase, 1 number, 1 special char\n- email: valid email format (optional)\n- budget: minimum 100\n- gender: male, female, other\n- partner_preference: male, female, any\n- duration_preference: short_term_relationship, medium_term_relationship, long_term_relationship\n- role: rs, srs\n- currency: valid currency code\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Step 1 - Initial Validation": {
                    "step": 1,
                    "login_name": "johndoe123",
                    "public_username": "JohnDoe",
                    "email": "john@example.com",
                    "password": "Password123!",
                    "password_confirmation": "Password123!",
                    "terms_accepted": "1",
                    "recaptcha": "03AFcWeA5...",
                    "is_mobile": "N"
                  },
                  "Step 2 - Complete Registration": {
                    "step": 2,
                    "login_name": "johndoe123",
                    "public_username": "JohnDoe",
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "john@example.com",
                    "password": "Password123!",
                    "password_confirmation": "Password123!",
                    "terms_accepted": "1",
                    "recaptcha": "03AFcWeA5...",
                    "recaptcha_session_id": "abc123xyz456...",
                    "is_mobile": "N",
                    "gender": "male",
                    "partner_preference": "female",
                    "duration_preference": "long_term_relationship",
                    "role": "rs",
                    "budget": 5000,
                    "currency": "USD",
                    "timeoffset": -300,
                    "affiliate_code": "REF123ABC"
                  },
                  "Mobile Registration (Step 1)": {
                    "step": 1,
                    "login_name": "johndoe123",
                    "public_username": "JohnDoe",
                    "email": "john@example.com",
                    "password": "Password123!",
                    "password_confirmation": "Password123!",
                    "terms_accepted": "1",
                    "is_mobile": "Y"
                  },
                  "Mobile Registration (Step 2)": {
                    "step": 2,
                    "login_name": "johndoe123",
                    "public_username": "JohnDoe",
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "john@example.com",
                    "password": "Password123!",
                    "password_confirmation": "Password123!",
                    "terms_accepted": "1",
                    "is_mobile": "Y",
                    "gender": "male",
                    "partner_preference": "female",
                    "duration_preference": "long_term_relationship",
                    "role": "rs",
                    "budget": 5000,
                    "currency": "USD",
                    "timezone": "America/New_York",
                    "affiliate_code": "REF123ABC"
                  }
                },
                "properties": {
                  "step": {
                    "type": "integer",
                    "description": "Registration step number. Must be 1 for initial validation or 2 for complete registration.",
                    "enum": [1, 2],
                    "example": 1
                  },
                  "login_name": {
                    "type": "string",
                    "description": "Unique identifier for login. 4-20 characters, alphanumeric with ._ allowed.",
                    "minLength": 4,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9._]+$",
                    "example": "johndoe123"
                  },
                  "public_username": {
                    "type": "string",
                    "description": "Display name visible to other users. 3-20 characters, alphanumeric with ._ allowed.",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9._]+$",
                    "example": "JohnDoe"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "User's first name. Required for Step 2.",
                    "nullable": true,
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "User's last name. Required for Step 2.",
                    "nullable": true,
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User's email address. Optional but recommended.",
                    "nullable": true,
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password. Minimum 8 characters, must contain 1 uppercase letter, 1 number, and 1 special character.",
                    "minLength": 8,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&])[A-Za-z\\d@$!%*?&]",
                    "example": "Password123!"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "description": "Password confirmation. Must match the password field.",
                    "example": "Password123!"
                  },
                  "terms_accepted": {
                    "type": "string",
                    "description": "Terms and conditions acceptance. Must be '1' to accept.",
                    "enum": ["1"],
                    "example": "1"
                  },
                  "recaptcha": {
                    "type": "string",
                    "description": "Google reCAPTCHA response token. Required for Step 1 and Step 2 unless is_mobile=Y.",
                    "nullable": true,
                    "example": "03AFcWeA5..."
                  },
                  "recaptcha_session_id": {
                    "type": "string",
                    "description": "Session ID from Step 1. Required for Step 2 unless is_mobile=Y.",
                    "nullable": true,
                    "example": "abc123xyz456..."
                  },
                  "is_mobile": {
                    "type": "string",
                    "description": "Set to 'Y' for mobile registration to skip reCAPTCHA verification.",
                    "enum": ["Y", "N"],
                    "default": "N",
                    "example": "N"
                  },
                  "gender": {
                    "type": "string",
                    "description": "User's gender. Required for Step 2.",
                    "enum": ["male", "female", "other"],
                    "example": "male"
                  },
                  "partner_preference": {
                    "type": "string",
                    "description": "Preferred partner gender. Required for Step 2.",
                    "enum": ["male", "female", "any"],
                    "example": "female"
                  },
                  "duration_preference": {
                    "type": "string",
                    "description": "Preferred relationship duration. Optional for Step 2.",
                    "enum": ["short_term_relationship", "medium_term_relationship", "long_term_relationship"],
                    "nullable": true,
                    "example": "long_term_relationship"
                  },
                  "role": {
                    "type": "string",
                    "description": "User's role in the platform. Required for Step 2.",
                    "enum": ["rs", "srs"],
                    "example": "rs"
                  },
                  "budget": {
                    "type": "number",
                    "description": "User's budget preference. Required for Step 2, minimum 100.",
                    "minimum": 100,
                    "example": 5000
                  },
                  "currency": {
                    "type": "string",
                    "description": "User's preferred currency code. Required for Step 2.",
                    "example": "USD"
                  },
                  "timeoffset": {
                    "type": "number",
                    "description": "User's timezone offset in minutes (JavaScript getTimezoneOffset() value). Optional.",
                    "nullable": true,
                    "example": -300
                  },
                  "timezone": {
                    "type": "string",
                    "description": "User's timezone identifier (alternative to timeoffset). Optional.",
                    "nullable": true,
                    "example": "America/New_York"
                  },
                  "affiliate_code": {
                    "type": "string",
                    "description": "Referral code from another user. Optional.",
                    "nullable": true,
                    "example": "REF123ABC"
                  }
                },
                "required": ["step", "login_name", "public_username", "password", "password_confirmation", "terms_accepted"]
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/password/reset-link": {
      "post": {
        "summary": "Send Reset Password Link",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "We have emailed your password reset link."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Error Response Example": {
                    "value": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-password-reset-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "0qpiuigm74dfo"
                    },
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/verification-request": {
      "post": {
        "summary": "Send Verification Email",
        "tags": [
          "Authentication"
        ],
        "responses": {},
        "operationId": "post-account-verification-request",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "Get User Data",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "login_name": {
                          "type": "string"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "email_verified_at": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "deleted_at": {
                          "type": "null"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 14,
                        "login_name": "mrriyous",
                        "public_username": "mrriyous",
                        "first_name": "Alfi",
                        "last_name": "Syahri",
                        "email": "mrriyous@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                },
                "examples": {
                  "Sample Response": {
                    "value": {
                      "data": {
                        "id": 14,
                        "login_name": "user",
                        "public_username": "user",
                        "first_name": "user",
                        "last_name": "1",
                        "email": "testinguser@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-user",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/basic-info": {
      "get": {
        "summary": "Get Basic Info",
        "description": "Get your basic profile information including personal details, contact information, and profile settings.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "boolean"
                        },
                        "initials": {
                          "type": "string"
                        },
                        "profile": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "birth_date": {
                              "type": "string"
                            },
                            "age_display": {
                              "type": "string"
                            },
                            "orientation": {
                              "type": "string"
                            },
                            "short_intro": {
                              "type": "string"
                            },
                            "weight": {
                              "type": "string"
                            },
                            "height": {
                              "type": "string"
                            },
                            "extended_descriptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "family_views": {
                              "type": "string"
                            },
                            "financial_views": {
                              "type": "string"
                            },
                            "long_term_views": {
                              "type": "string"
                            },
                            "secret_text": {
                              "type": "string"
                            },
                            "education_level": {
                              "type": "string"
                            },
                            "profession": {
                              "type": "string"
                            },
                            "religion": {
                              "type": "string"
                            },
                            "ethnicity": {
                              "type": "string"
                            },
                            "astrology_belief": {
                              "type": "boolean"
                            },
                            "personality_type": {
                              "type": "string"
                            },
                            "location_residence": {
                              "type": "string"
                            },
                            "location_residence_place_id": {
                              "type": "string"
                            },
                            "location_residence_latitude": {
                              "type": "string"
                            },
                            "location_residence_longitude": {
                              "type": "string"
                            },
                            "location_residence_secondary_text": {
                              "type": "string"
                            },
                            "relocation_readiness": {
                              "type": "string"
                            },
                            "location_search": {
                              "type": "string"
                            },
                            "location_search_place_id": {
                              "type": "string"
                            },
                            "location_search_latitude": {
                              "type": "string"
                            },
                            "location_search_longitude": {
                              "type": "string"
                            },
                            "location_search_secondary_text": {
                              "type": "string"
                            },
                            "location_difference_reason": {
                              "type": "string"
                            },
                            "languages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "fluency": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "hobbies": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          }
                        },
                        "profileImages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "thumbnail_url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-basic-info"
      }
    },
    "/profile/completion-percentage": {
      "get": {
        "summary": "Get Profile Completion Percentage",
        "description": "Get your profile completion percentage and detailed breakdown of completed sections. The completion percentage is calculated in real-time based on current profile data.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile completion percentage retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "percentage": {
                          "type": "integer",
                          "description": "Overall profile completion percentage (0-100)",
                          "example": 75
                        },
                        "breakdown": {
                          "type": "object",
                          "description": "Detailed breakdown of completion by category",
                          "properties": {
                            "personal_photos": {
                              "type": "object",
                              "description": "Personal photos completion (14% weight, 2% per photo, max 7 photos)",
                              "properties": {
                                "fields": {
                                  "type": "string",
                                  "description": "Field name in profile",
                                  "example": "album.my_photos"
                                },
                                "count": {
                                  "type": "integer",
                                  "description": "Number of photos uploaded",
                                  "example": 5
                                },
                                "required": {
                                  "type": "integer",
                                  "description": "Maximum number of photos for full completion",
                                  "example": 7
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for this category",
                                  "example": 10
                                },
                                "completed": {
                                  "type": "boolean",
                                  "description": "Whether this category is fully completed",
                                  "example": false
                                }
                              }
                            },
                            "monthly_budget": {
                              "type": "object",
                              "description": "Monthly budget completion (10% weight)",
                              "properties": {
                                "fields": {
                                  "type": "string",
                                  "description": "Field name in profile",
                                  "example": "lifestyle_support_budget"
                                },
                                "completed": {
                                  "type": "boolean",
                                  "description": "Whether lifestyle support budget is set",
                                  "example": true
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for this category",
                                  "example": 10
                                }
                              }
                            },
                            "description": {
                              "type": "object",
                              "description": "Profile description completion (10% weight)",
                              "properties": {
                                "fields": {
                                  "type": "string",
                                  "description": "Field name in profile",
                                  "example": "short_intro"
                                },
                                "completed": {
                                  "type": "boolean",
                                  "description": "Whether short introduction is provided",
                                  "example": true
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for this category",
                                  "example": 10
                                }
                              }
                            },
                            "languages": {
                              "type": "object",
                              "description": "Languages completion (5% weight)",
                              "properties": {
                                "fields": {
                                  "type": "string",
                                  "description": "Field name in profile",
                                  "example": "user_languages"
                                },
                                "completed": {
                                  "type": "boolean",
                                  "description": "Whether at least one language with fluency > 0 is set",
                                  "example": true
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for this category",
                                  "example": 5
                                }
                              }
                            },
                            "geo_search": {
                              "type": "object",
                              "description": "Geographic search preferences completion (10% weight)",
                              "properties": {
                                "fields": {
                                  "type": "string",
                                  "description": "Field names in profile",
                                  "example": "location_search,location_search_place_id"
                                },
                                "completed": {
                                  "type": "boolean",
                                  "description": "Whether search location preferences are set",
                                  "example": true
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for this category",
                                  "example": 10
                                }
                              }
                            },
                            "remaining_fields": {
                              "type": "object",
                              "description": "All other profile fields completion (51% weight)",
                              "properties": {
                                "empty_remaining_fields": {
                                  "type": "array",
                                  "description": "List of empty fields that need completion",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": ["weight", "height", "education_level", "profession"]
                                },
                                "total_fields": {
                                  "type": "integer",
                                  "description": "Total number of remaining fields",
                                  "example": 12
                                },
                                "completed_fields": {
                                  "type": "integer",
                                  "description": "Number of completed remaining fields",
                                  "example": 8
                                },
                                "percentage": {
                                  "type": "integer",
                                  "description": "Completion percentage for remaining fields",
                                  "example": 34
                                },
                                "is_sponsor": {
                                  "type": "boolean",
                                  "description": "Whether the user is a sponsor (role: 'rs')",
                                  "example": false
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Response": {
                    "value": {
                      "error": false,
                      "data": {
                        "percentage": 75,
                        "breakdown": {
                          "personal_photos": {
                            "fields": "album.my_photos",
                            "count": 5,
                            "required": 7,
                            "percentage": 10,
                            "completed": false
                          },
                          "monthly_budget": {
                            "fields": "lifestyle_support_budget",
                            "completed": true,
                            "percentage": 10
                          },
                          "description": {
                            "fields": "short_intro",
                            "completed": true,
                            "percentage": 10
                          },
                          "languages": {
                            "fields": "user_languages",
                            "completed": true,
                            "percentage": 5
                          },
                          "geo_search": {
                            "fields": "location_search,location_search_place_id",
                            "completed": true,
                            "percentage": 10
                          },
                          "remaining_fields": {
                            "empty_remaining_fields": [
                              "weight",
                              "height",
                              "education_level",
                              "profession"
                            ],
                            "total_fields": 12,
                            "completed_fields": 8,
                            "percentage": 34,
                            "is_sponsor": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to calculate profile completion percentage"
                    },
                    "error_detail": {
                      "type": "string",
                      "description": "Detailed error message"
                    },
                    "error_line": {
                      "type": "integer",
                      "description": "Line number where error occurred",
                      "example": 865
                    }
                  }
                },
                "examples": {
                  "Error Response": {
                    "value": {
                      "error": true,
                      "message": "Failed to calculate profile completion percentage",
                      "error_detail": "Detailed error message",
                      "error_line": 865
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-completion-percentage"
      }
    },
    "/profile/relationship-info": {
      "get": {
        "summary": "Get Relationship Info",
        "description": "Get your relationship preferences and goals including partner preferences, relationship goals, duration preferences, and availability times.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "duration_preference": {
                          "type": "string"
                        },
                        "available_time_morning": {
                          "type": "string"
                        },
                        "available_time_afternoon": {
                          "type": "string"
                        },
                        "available_time_evening": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-relationship-info"
      }
    },
    "/profile/financial-info": {
      "get": {
        "summary": "Get Financial Info",
        "description": "Get your financial profile information including lifestyle support budget, capital level, income details, child payments, marriage gifts, and milestone settings. Supports currency conversion via query parameter.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Currency code for viewing amounts in a different currency (e.g., 'AED', 'EUR'). If not provided, uses the user's default currency.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get-profile-financial-info"
      }
    },
    "/profile/living-info": {
      "get": {
        "summary": "Get Living Info",
        "description": "Get your living profile information including transportation availability, living format preferences, and housing images.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user_id": {
                          "type": "integer"
                        },
                        "driving_license_availability": {
                          "type": "string"
                        },
                        "car_availability": {
                          "type": "string"
                        },
                        "driver_availability": {
                          "type": "string"
                        },
                        "living_format_test_moon": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract": {
                          "type": "string"
                        },
                        "living_format_final_contract": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_url": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "housing_image_url": {
                          "type": "null"
                        },
                        "housing_image_thumbnail_url": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-living-info"
      }
    },
    "/profile/visibility-setting": {
      "get": {
        "summary": "Get Visibility Setting",
[...]
