{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "DEMO API",
      "url": "https://startup2050.com/api/"
    },
    {
      "description": "Localhost API",
      "url": "http://localhost:8000/api/"
    }
  ],
  "info": {
    "description": "3M Platform API - A comprehensive platform for user interactions, messaging, financial management, and profile management.\n\n## Overview\n\nThis API provides a complete solution for the 3M Platform, featuring user authentication, profile management, real-time messaging, financial transactions, and support systems. All endpoints use Laravel Sanctum for authentication with Bearer tokens.\n\n## Key Features\n\n- **User Management**: Complete profile and financial profile management\n- **Real-time Communication**: Chat system with AI moderation and file attachments\n- **Financial Services**: Wallet management, transactions, and subscription plans\n- **Social Features**: User interactions, blocking, and reporting systems\n- **Support System**: Ticket management with file attachments and spam protection\n- **Search & Discovery**: Advanced user search with filtering and pagination\n- **Options API**: Static configuration options and predefined values for UI components\n\n## Authentication\n\nMost endpoints require Bearer token authentication:\n```\nAuthorization: Bearer {your_token}\n```\n\n## Rate Limiting\n\n- Chat: 60 requests/minute (30 for sending messages)\n- Support: 10 requests/day per IP\n- General: Varies by endpoint\n\nFor detailed information about specific API sections, please refer to the individual tag descriptions below.",
    "version": "1.0.0",
    "title": "3M Api",
    "contact": {
      "email": "alfi.dev@startup2050.com",
      "name": "Api Developer",
      "url": ""
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints related to user authentication, including login, logout, token management, and API key validation. These routes are used to verify user credentials, establish secure access to the API, and handle user session termination with optional OneSignal subscription cleanup."
    },
    {
      "name": "Profile",
      "description": "Endpoints for viewing, updating, and managing the authenticated user's profile information, such as personal details, preferences, photos, and account settings. Includes comprehensive Profile Images and Albums API for organizing user photos into different categories like personal photos, places visited, interests, and fashion choices."
    },
    {
      "name": "Financial Profile",
      "description": "Endpoints for managing user financial profile information including budget, capital level, income, milestone settings, and financial options. All endpoints require Bearer token authentication."
    },
    {
      "name": "Currencies",
      "description": "Get all the available currencies data"
    },
    {
      "name": "Chat",
      "description": "The Chat API provides comprehensive messaging functionality for the platform, including direct messaging, message management, and chat room operations. All endpoints require authentication and integrate with RocketChat for real-time messaging. Features include AI-powered content moderation, file attachments, real-time events, and rate limiting."
    },
    {
      "name": "Reports & Interactions",
      "description": "Endpoints for user interactions including profile management (archive, save, interest), user blocking, zoom call requests, and user reporting. All endpoints require Bearer token authentication."
    },
    {
      "name": "Contracts",
      "description": "Endpoints for managing contracts between sponsors and seekers, including contract creation, approval, modification, and lifecycle management."
    },
    {
      "name": "People",
      "description": "The People API provides endpoints for viewing public user profiles and their information. These endpoints allow authenticated users to view other users' profiles using their public username. All endpoints require Bearer token authentication and return comprehensive profile data including personal information, relationship preferences, financial details, living arrangements, and profile images. The API also includes a public endpoint for retrieving age ranges used in profile display and search functionality."
    },
    {
      "name": "Support Tickets",
      "description": "Endpoints for managing support tickets, including creating, viewing, updating tickets, retrieving categories, statuses, and notification options, and managing ticket messages with file attachments. Supports both authenticated users and guest access with pagination. File attachments support PDF, JPG, JPEG, PNG (max 15MB each). Rate limited: 10 requests per day per IP, 20 requests per day per IP network. All endpoints use optional authentication middleware, working with Bearer tokens or X-Guest-Email headers. Includes spam protection, file validation, and comprehensive ticket lifecycle management."
    },
    {
      "name": "Notifications",
      "description": "Endpoints for managing user notifications, including listing, filtering, marking as read, updating importance, and managing user preferences. All endpoints require Bearer token authentication."
    },
    {
      "name": "Affiliate",
      "description": "Endpoints for managing affiliate links, statistics, and earnings. All endpoints require Bearer token authentication using Laravel Sanctum."
    },
    {
      "name": "Wallet",
      "description": "Endpoints for managing user wallet and balance information, including retrieving current balance, deposits, withdrawals, and purchase power. All endpoints require Bearer token authentication."
    },
    {
      "name": "Search",
      "description": "Endpoints for searching user profiles with advanced filtering options including location, budget, languages, and custom parameters. Supports pagination, sorting, and role-based filtering. All endpoints require Bearer token authentication."
    },
    {
      "name": "Subscription",
      "description": "Endpoints for managing user subscriptions, including viewing current subscription, available plans, submitting subscriptions, and managing budget upgrades. All endpoints require Bearer token authentication using Laravel Sanctum."
    },
    {
      "name": "Transactions",
      "description": "Endpoints for managing user transactions, including viewing transaction history, details, status, and cancellation. All endpoints require Bearer token authentication using Laravel Sanctum. Supports filtering by status and type, with comprehensive transaction data including payments, subscription plans, and counterparty information. Features include status styling with CSS classes and color codes, pagination, and detailed transaction relationships."
    },
    {
      "name": "Options",
      "description": "Endpoints for retrieving static configuration options and predefined values used throughout the 3M Matching Platform. These endpoints return static data that clients can use to populate dropdown menus, form fields, and other UI components. All options endpoints are public and do not require authentication."
    },
    {
      "name": "Account Management",
      "description": "Endpoints for managing user account settings including username, password, and email updates. All endpoints require authentication using Laravel Sanctum Bearer tokens. Features include validation, activity logging, and security measures for account modifications."
    },
    {
      "name": "OneSignal",
      "description": "Endpoints for managing OneSignal push notification subscriptions and player IDs. Handles device registration, subscription management, and logout cleanup for push notifications. All endpoints require Bearer token authentication using Laravel Sanctum."
    }
  ],
  "paths": {
    "/login": {
      "parameters": [],
      "servers": [],
      "post": {
        "summary": "POST",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "login_name": {
                              "type": "string"
                            },
                            "public_username": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "null"
                            },
                            "last_name": {
                              "type": "null"
                            },
                            "email": {
                              "type": "string"
                            },
                            "email_verified_at": {
                              "type": "string"
                            },
                            "email_verified": {
                              "type": "integer"
                            },
                            "gender": {
                              "type": "string"
                            },
                            "partner_preference": {
                              "type": "string"
                            },
                            "relationship_goals": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "profile_picture": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "deleted_at": {
                              "type": "null"
                            },
                            "profile_picture_url": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "Login successful",
                      "data": {
                        "user": {
                          "id": 5,
                          "login_name": "alfi_syah",
                          "public_username": "alfi_syah",
                          "first_name": null,
                          "last_name": null,
                          "email": "mrriyous@gmail.com",
                          "email_verified_at": "2025-06-02T06:15:00.000000Z",
                          "email_verified": 1,
                          "gender": "male",
                          "partner_preference": "female",
                          "relationship_goals": "long-term",
                          "role": "rs",
                          "profile_picture": "profile-pictures/5_1749097276.jpg",
                          "created_at": "2025-06-02T06:14:41.000000Z",
                          "updated_at": "2025-06-05T04:21:16.000000Z",
                          "deleted_at": null,
                          "profile_picture_url": "https://startup2050.com/storage/profile-pictures/5_1749097276.jpg"
                        },
                        "token": "93|y3wTIV52GxASW7x0YYViJVIYy55TBpYrxq0VAzZ0c452f980"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "recaptcha": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "errors": {
                        "recaptcha": [
                          "reCAPTCHA verification failed. Please try again"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "login",
        "description": "",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "is_mobile"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "xd3rw9p0duu5z"
                    }
                  },
                  "password": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "2umpyvtmq04af"
                    }
                  },
                  "recaptcha": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "o3tid2pdqufw1"
                    },
                    "description": "Required if is_mobile != Y"
                  },
                  "is_mobile": {
                    "x-stoplight": {
                      "id": "ov3l324vg1t69"
                    },
                    "enum": [
                      "Y",
                      "N"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Registration",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Response For Step 1",
            "headers": {
              "header-0": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "recaptcha_session_id": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "recaptcha_session_id": "MVlNNTExVFZ3ZFd5Wk9SaDYxRmd0UU9CMFRQQUJYY0cyMDI1LTA2LTA2IDE0OjUxOjIyMTI3LjAuMC4x"
                    }
                  }
                }
              }
            }
          },
          "2XX": {
            "description": "Response For STEP 2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "role": {
                          "type": "string"
                        },
                        "email": {
                          "type": "null"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "null"
                        },
                        "login_name": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "user": {
                        "id": 55,
                        "role": "rs",
                        "email": null,
                        "gender": "male",
                        "last_name": null,
                        "created_at": "2025-06-06T15:11:21.000000Z",
                        "first_name": null,
                        "login_name": "nabil",
                        "updated_at": "2025-06-06T15:11:21.000000Z",
                        "public_username": "ellain",
                        "partner_preference": "female",
                        "relationship_goals": "long_term",
                        "profile_picture_url": "http://localhost:8001/images/placeholder-profile.png"
                      },
                      "error": false,
                      "token": "186|KGMppv3ksgOibqtcVqLXSWfo7GiUkdxD0fsIRLso423dc7da"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "registration",
        "description": "Registration will be having 2 steps for captcha verification at step 1\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "role": "rs",
                    "step": 2,
                    "email": "testinguser@testing.cmo",
                    "budget": 2500,
                    "gender": "male",
                    "currency": "SGD",
                    "password": "Password1234!",
                    "last_name": null,
                    "recaptcha": "03AFcWeA5rVkRfV13la_jGmC6huebt2MolXokDFeMjS5NjJLACG7oKIqk6uPpzm98U4tkTZxT9I5qekOsX9e2ewL-J-LJ3fQbN90Dd9EwpxgzvEAepmh2MGqwMpUkpXLoIeDMd5FuZjulmJzKhsQwsIsCeNsXKGSVHI7G9I77mNJgMm8ouYcct0H0p-TeYHXATHUqoYXrn2Ky-2waZGwuWNfXKRsTNPf0SK82t4ixzV1tYddKkAPJdMd7Y2WgpcW1U8_WqcdkVewNYZGh8CyaqeDhVMJu6JvQfAdXyGYD5PRMMnyu9HuFq1jauyyV5ybsaNTLtm5--c1jVmNnylUeo4GebZ3rNSpxYkxLcg1Y_A-dSVfB6UneTHRXWakkqWJNcQAgD6vfctoqgDjBdXCbj_mXlJp0mZ24E7E4-0z8sN4ksg-luXgrY20WEIjaGgLOm_9R2rnbjqUN05A1sEmI8W_2xOiZqbhHfBiyW71f1oWCbJ3KubYw7loriHaJy4YjzoFQjhzdkbx9O--NUPs_sKa2Xybh6PpROHHGEJgWxqzRglIeaCegXwdzFoqnc0fnaSbQMwSrimjIBLWTIb4G9l5XnS6b83EC-mmS6ORQzDfIspMgjFEkza3KOytYZxf2dKwCkKNowdT9awBcNORb7luy6TrMDL-wRb9NY6TyRPqSkBCdbaZgUKW0N2TTUS1-I0y6QaXeA8PaLbTRyY4VKxveZBdJwul5X--AyD9dRYZzdE0xLng9d-xAHdUJKIzQ18NAgx-be-JnQDoM-RMpDFK4C7tXDtpOdcZUA_6HLZLrBbyaMEOyajxdy5e9rXKizo8bCFyYq-wb60B_5lU27-KvbywRFCN7XvMGL4Ax9hBgJYRqCCsgKZZP26BY56EpXwCWYfqriB6fO8nHM431pyLn3vXuN9mik2FL2wuuOtaAhR7I4OUJMetxrYdYt3dL27vMT7xf3Sny1JEGWljnNBS9PEd14bVgaPkYgxeEj61R6mrMKOwJulB35jlWXmSHP7e_ywUSh75O97jBmEOxdDWKzDpv5uYuF17OH_kPsCbwPSSBCSp_RmviIwIG0-IBzx7Iv5-5_OjZs8DaPlO7wUrpZYMRjM_p1FisFx1qJuOcP34lB19SqZykalerF7DedkgZcMuSPKaf7VSs7nL4Br7kgAQxR21_WltgCojUbT5CbaCTN0a6r5tfYTlGXziYUE5Hf2TutA2bwPB_GkFznQ8V_w5APFkrxCdKtJhVVFqDkzdLtcFBvO0skoOVxg8iSEYj6DRbB3NF7LHqFwG7Q9_NmoH23jGIg5aIsQnDzGxkkJ2nz-r8VLhUFP0NbYmyv-2_SJJSr39nHIMdaod5q3kbXcPk8TxFSsL0MTRS8dtkSY12rNCJkN0m2QvBYNx5h_NFToAdFRXcQbVfibHWee_bajsKcbcw9WfjGS4-cbui7eqM0Ff5wN7CzFNpE5vdJRyrJjU2Nbf81x1qei2hL9eG7aWZFtjKesVN4y0B8X_GvxLM4tQZef3EIS9K1__fUb4ouX2IdgIghS8bUXFV9jeVRlAK0wjR1k7PcW9ZIn3dMkg6ci4qKfeNSdMPZQkFiT8hYl1Y_LZk2jjQqYh_ntUlqSAaEk6CWFtWVkSKnlGqVCgBQlJPEYG20mtPgD3dUh1EPW63sQtzdXxsyp78df_2nV1VT1-hVT2kgFOh8_0KNaoVqx8Ig6GLMJw1Pl8V0KzMzEXINn31axRp5GOBbOLA-0-aqmmN-K72RO7-vyyk4bGK2IGn_x56Wf2eBc9Nd9m3Wso0JqJyrU04tXhg6iCRr8uqigCD26hxWkW3V9CBAEJAMzzJ--da4RMR5RtqJclGEvUoOBFCtOi0l0zxLumAWGxHej9LfF182xORIxFhm-_BI4rLH2FTmPUFCFfuzKr08sSTDSThT_4D51q_6Lz1tcpFtY12CUCZWJbPy-QCzAmbWR-ap9IuMPj4u5pYfCXBsc_AZsoKwuRhJNTl6iei2tispfP259aKQOvX6fZn6jKngZM6yd03hlnnqlKJWk0EM81Au4k1YFjDJxhKjLnWB_twNPNUGiDQ-qC8RleXgllDGSX3WBoU",
                    "first_name": null,
                    "login_name": "joshua_jonan",
                    "terms_accepted": "1",
                    "public_username": "joshua_jonan",
                    "partner_preference": "female",
                    "relationship_goals": "medium_term",
                    "recaptcha_session_id": "c3g4UEx4b0NFd2FOajdVMGltd0FLbTk3dGFEOG82dzkyMDI1LTA2LTA2IDE1OjA0OjE5MTI3LjAuMC4x",
                    "password_confirmation": "Password1234!"
                  }
                },
                "properties": {
                  "role": {
                    "enum": [
                      "rs",
                      "srs"
                    ]
                  },
                  "step": {
                    "type": "integer"
                  },
                  "email": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "integer"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "last_name": {
                    "nullable": true
                  },
                  "recaptcha": {
                    "type": "string",
                    "description": "required on step 1, and if is_mobile != Y"
                  },
                  "first_name": {
                    "nullable": true
                  },
                  "login_name": {
                    "type": "string"
                  },
                  "terms_accepted": {
                    "type": "string"
                  },
                  "public_username": {
                    "type": "string"
                  },
                  "partner_preference": {
                    "type": "string"
                  },
                  "relationship_goals": {
                    "type": "string"
                  },
                  "recaptcha_session_id": {
                    "type": "string",
                    "description": "Required on step2, and is_mobile != Y"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "is_mobile": {
                    "x-stoplight": {
                      "id": "9z1603rfe2g9y"
                    },
                    "enum": [
                      "Y",
                      "N"
                    ]
                  },
                  "affiliate_code": {
                    "type": "string",
                    "description": "Optional affiliate code for referral tracking",
                    "nullable": true
                  }
                }
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/password/reset-link": {
      "post": {
        "summary": "Send Reset Password Link",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "We have emailed your password reset link."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Error Response Example": {
                    "value": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-password-reset-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "0qpiuigm74dfo"
                    },
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/verification-request": {
      "post": {
        "summary": "Send Verification Email",
        "tags": [
          "Authentication"
        ],
        "responses": {},
        "operationId": "post-account-verification-request",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "Get User Data",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "login_name": {
                          "type": "string"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "email_verified_at": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "deleted_at": {
                          "type": "null"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 14,
                        "login_name": "mrriyous",
                        "public_username": "mrriyous",
                        "first_name": "Alfi",
                        "last_name": "Syahri",
                        "email": "mrriyous@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                },
                "examples": {
                  "Sample Response": {
                    "value": {
                      "data": {
                        "id": 14,
                        "login_name": "user",
                        "public_username": "user",
                        "first_name": "user",
                        "last_name": "1",
                        "email": "testinguser@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-user",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/basic-info": {
      "get": {
        "summary": "Get Basic Info",
        "description": "Get your basic profile information including personal details, contact information, and profile settings.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "boolean"
                        },
                        "initials": {
                          "type": "string"
                        },
                        "profile": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "birth_date": {
                              "type": "string"
                            },
                            "age_display": {
                              "type": "string"
                            },
                            "orientation": {
                              "type": "string"
                            },
                            "short_intro": {
                              "type": "string"
                            },
                            "weight": {
                              "type": "string"
                            },
                            "height": {
                              "type": "string"
                            },
                            "extended_descriptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "family_views": {
                              "type": "string"
                            },
                            "financial_views": {
                              "type": "string"
                            },
                            "long_term_views": {
                              "type": "string"
                            },
                            "secret_text": {
                              "type": "string"
                            },
                            "education_level": {
                              "type": "string"
                            },
                            "profession": {
                              "type": "string"
                            },
                            "religion": {
                              "type": "string"
                            },
                            "ethnicity": {
                              "type": "string"
                            },
                            "astrology_belief": {
                              "type": "boolean"
                            },
                            "personality_type": {
                              "type": "string"
                            },
                            "location_residence": {
                              "type": "string"
                            },
                            "location_residence_place_id": {
                              "type": "string"
                            },
                            "location_residence_latitude": {
                              "type": "string"
                            },
                            "location_residence_longitude": {
                              "type": "string"
                            },
                            "location_residence_secondary_text": {
                              "type": "string"
                            },
                            "relocation_readiness": {
                              "type": "string"
                            },
                            "location_search": {
                              "type": "string"
                            },
                            "location_search_place_id": {
                              "type": "string"
                            },
                            "location_search_latitude": {
                              "type": "string"
                            },
                            "location_search_longitude": {
                              "type": "string"
                            },
                            "location_search_secondary_text": {
                              "type": "string"
                            },
                            "location_difference_reason": {
                              "type": "string"
                            },
                            "languages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "fluency": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "hobbies": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          }
                        },
                        "profileImages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "thumbnail_url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-basic-info",
      }
    },
    "/profile/relationship-info": {
      "get": {
        "summary": "Get Relationship Info",
        "description": "Get your relationship preferences and goals including partner preferences, relationship goals, duration preferences, and availability times.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "duration_preference": {
                          "type": "string"
                        },
                        "available_time_morning": {
                          "type": "string"
                        },
                        "available_time_afternoon": {
                          "type": "string"
                        },
                        "available_time_evening": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-relationship-info",
      }
    },
    "/profile/financial-info": {
      "get": {
        "summary": "Get Financial Info",
        "description": "Get your financial profile information including lifestyle support budget, capital level, income details, child payments, marriage gifts, and milestone settings.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Financial profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get-profile-financial-info"
      }
    },
    "/profile/living-info": {
      "get": {
        "summary": "Get Living Info",
        "description": "Get your living profile information including transportation availability, living format preferences, and housing images.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user_id": {
                          "type": "integer"
                        },
                        "driving_license_availability": {
                          "type": "string"
                        },
                        "car_availability": {
                          "type": "string"
                        },
                        "driver_availability": {
                          "type": "string"
                        },
                        "living_format_test_moon": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract": {
                          "type": "string"
                        },
                        "living_format_final_contract": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_url": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "housing_image_url": {
                          "type": "null"
                        },
                        "housing_image_thumbnail_url": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-living-info",
      }
    },
    "/profile/visibility-setting": {
      "get": {
        "summary": "Get Visibility Setting",
        "description": "Get your current profile visibility settings including profile visibility, image visibility, and contact visibility.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Visibility settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Visibility setting ID"
                        },
                        "user_id": {
                          "type": "integer",
                          "description": "User ID"
                        },
                        "profile_visibility": {
                          "type": "boolean",
                          "description": "Profile visibility setting"
                        },
                        "image_visibility": {
                          "type": "boolean",
                          "description": "Image visibility setting"
                        },
                        "contact_visibility": {
                          "type": "boolean",
                          "description": "Contact visibility setting"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Creation timestamp"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Last update timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Sorry, Something went wrong. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/picture": {
      "post": {
        "summary": "Upload Profile Picture",
        "description": "Upload or update your profile picture. The image will be automatically resized and optimized for web display.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture": {
                    "type": "string",
                    "format": "binary",
                    "description": "Profile picture image file (max 5MB, formats: jpeg, png, jpg, gif, heic, heif, webp)"
                  }
                },
                "required": ["profile_picture"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile picture updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Profile picture has been updated successfully"
                    },
                    "image_url": {
                      "type": "string",
                      "description": "URL of the uploaded profile picture",
                      "example": "https://example.com/storage/profile-pictures/123_1640995200.jpg"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "Profile picture has been updated successfully",
                      "image_url": "https://example.com/storage/profile-pictures/123_1640995200.jpg"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "The profile picture must not be larger than 5MB."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "profile_picture": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["The profile picture must not be larger than 5MB."]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Sorry, Something went wrong. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/about": {
      "post": {
        "summary": "Update About Section",
        "description": "Update your profile's about section including basic information, personal details, location preferences, languages, hobbies, and extended descriptions.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_username": {
                    "type": "string",
                    "description": "Public username (3-20 chars, alphanumeric + underscore/dot)",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9._]+$"
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Birth date (before today, after 1900-01-01)"
                  },
                  "age_display": {
                    "type": "string",
                    "description": "Age display preference",
                    "enum": ["Show Exact Age", "Show Age Range", "Hide Age"]
                  },
                  "weight": {
                    "type": "number",
                    "description": "Weight in kg (40-150)",
                    "minimum": 40,
                    "maximum": 150
                  },
                  "height": {
                    "type": "number",
                    "description": "Height in cm (50-230)",
                    "minimum": 50,
                    "maximum": 230
                  },
                  "orientation": {
                    "type": "string",
                    "description": "Sexual orientation",
                    "maxLength": 50
                  },
                  "short_intro": {
                    "type": "string",
                    "description": "Short introduction",
                    "maxLength": 1000
                  },
                  "extended_description": {
                    "type": "array",
                    "description": "Extended descriptions (max 9 items, 10000 chars each)",
                    "maxItems": 9,
                    "items": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  },
                  "family_views": {
                    "type": "string",
                    "description": "Views on family",
                    "maxLength": 10000
                  },
                  "financial_views": {
                    "type": "string",
                    "description": "Views on finances",
                    "maxLength": 10000
                  },
                  "long_term_views": {
                    "type": "string",
                    "description": "Long-term goals",
                    "maxLength": 10000
                  },
                  "secret_text": {
                    "type": "string",
                    "description": "Secret text",
                    "maxLength": 10000
                  },
                  "education_level": {
                    "type": "string",
                    "description": "Education level",
                    "maxLength": 100
                  },
                  "profession": {
                    "type": "string",
                    "description": "Profession",
                    "maxLength": 100
                  },
                  "religion": {
                    "type": "string",
                    "description": "Religion",
                    "maxLength": 50
                  },
                  "ethnicity": {
                    "type": "string",
                    "description": "Ethnicity",
                    "maxLength": 50
                  },
                  "astrology_belief": {
                    "type": "boolean",
                    "description": "Interest in astrology"
                  },
                  "personality_type": {
                    "type": "string",
                    "description": "Personality type",
                    "maxLength": 50
                  },
                  "location_residence": {
                    "type": "string",
                    "description": "Current residence",
                    "maxLength": 50
                  },
                  "location_residence_place_id": {
                    "type": "string",
                    "description": "Google Place ID for residence"
                  },
                  "location_residence_latitude": {
                    "type": "number",
                    "description": "Residence latitude"
                  },
                  "location_residence_longitude": {
                    "type": "number",
                    "description": "Residence longitude"
                  },
                  "location_residence_secondary_text": {
                    "type": "string",
                    "description": "Additional residence info",
                    "maxLength": 255
                  },
                  "relocation_readiness": {
                    "type": "string",
                    "description": "Relocation readiness",
                    "enum": ["yes", "no", "maybe"]
                  },
                  "location_search": {
                    "type": "string",
                    "description": "Preferred search location",
                    "maxLength": 50
                  },
                  "location_search_place_id": {
                    "type": "string",
                    "description": "Google Place ID for search"
                  },
                  "location_search_latitude": {
                    "type": "number",
                    "description": "Search location latitude"
                  },
                  "location_search_longitude": {
                    "type": "number",
                    "description": "Search location longitude"
                  },
                  "location_search_secondary_text": {
                    "type": "string",
                    "description": "Additional search location info",
                    "maxLength": 255
                  },
                  "location_difference_reason": {
                    "type": "string",
                    "description": "Reason for location difference",
                    "maxLength": 10000
                  },
                  "languages": {
                    "type": "array",
                    "description": "Languages array with code and fluency (1-5)",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Language code"
                        },
                        "fluency": {
                          "type": "integer",
                          "description": "Fluency level (1-5)",
                          "minimum": 1,
                          "maximum": 5
                        }
                      },
                      "required": ["code", "fluency"]
                    }
                  },
                  "hobbies": {
                    "type": "string",
                    "description": "Comma-separated hobby IDs"
                  }
                },
                "required": ["public_username", "birth_date", "age_display"]
              },
              "x-examples": {
                "Example 1": {
                  "public_username": "john_doe",
                  "birth_date": "1990-05-15",
                  "age_display": "Show Exact Age",
                  "weight": 70,
                  "height": 175,
                  "orientation": "Straight",
                  "short_intro": "Looking for meaningful connections",
                  "extended_description": [
                    "I love traveling and exploring new cultures",
                    "I'm passionate about photography and nature"
                  ],
                  "family_views": "Open to having children",
                  "financial_views": "Financial stability is important",
                  "long_term_views": "Looking for a life partner",
                  "secret_text": "I'm secretly a great cook",
                  "education_level": "Bachelor's Degree",
                  "profession": "Software Engineer",
                  "religion": "Christian",
                  "ethnicity": "Caucasian",
                  "astrology_belief": true,
                  "personality_type": "INTJ",
                  "location_residence": "New York, NY, USA",
                  "location_residence_place_id": "ChIJOwg_06VPwokRYv534QaPC8g",
                  "location_residence_latitude": 40.7128,
                  "location_residence_longitude": -74.0060,
                  "location_residence_secondary_text": "Manhattan",
                  "relocation_readiness": "yes",
                  "location_search": "San Francisco, CA, USA",
                  "location_search_place_id": "ChIJIQBpAG2ahYAR_6128GcTUEo",
                  "location_search_latitude": 37.7749,
                  "location_search_longitude": -122.4194,
                  "location_search_secondary_text": "Bay Area",
                  "location_difference_reason": "Career opportunities",
                  "languages": [
                    {
                      "code": "en",
                      "fluency": 5
                    },
                    {
                      "code": "es",
                      "fluency": 3
                    }
                  ],
                  "hobbies": "1,5,12,23"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Profile has been saved"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "User ID"
                        },
                        "public_username": {
                          "type": "string",
                          "description": "Public username"
                        },
                        "profile": {
                          "type": "object",
                          "description": "Updated profile information",
                          "properties": {
                            "birth_date": {
                              "type": "string",
                              "format": "date"
                            },
                            "age_display": {
                              "type": "string"
                            },
                            "weight": {
                              "type": "number"
                            },
                            "height": {
                              "type": "number"
                            },
                            "orientation": {
                              "type": "string"
                            },
                            "short_intro": {
                              "type": "string"
                            },
                            "extended_descriptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "order": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "family_views": {
                              "type": "string"
                            },
                            "financial_views": {
                              "type": "string"
                            },
                            "long_term_views": {
                              "type": "string"
                            },
                            "secret_text": {
                              "type": "string"
                            },
                            "education_level": {
                              "type": "string"
                            },
                            "profession": {
                              "type": "string"
                            },
                            "religion": {
                              "type": "string"
                            },
                            "ethnicity": {
                              "type": "string"
                            },
                            "astrology_belief": {
                              "type": "string"
                            },
                            "personality_type": {
                              "type": "string"
                            },
                            "location_residence": {
                              "type": "string"
                            },
                            "location_residence_place_id": {
                              "type": "string"
                            },
                            "location_residence_latitude": {
                              "type": "number"
                            },
                            "location_residence_longitude": {
                              "type": "number"
                            },
                            "location_residence_secondary_text": {
                              "type": "string"
                            },
                            "relocation_readiness": {
                              "type": "string"
                            },
                            "location_search": {
                              "type": "string"
                            },
                            "location_search_place_id": {
                              "type": "string"
                            },
                            "location_search_latitude": {
                              "type": "number"
                            },
                            "location_search_longitude": {
                              "type": "number"
                            },
                            "location_search_secondary_text": {
                              "type": "string"
                            },
                            "location_difference_reason": {
                              "type": "string"
                            },
                            "languages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "fluency": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "hobbies": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "changes": {
                      "type": "object",
                      "description": "Object containing all modified fields with old and new values",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "old": {
                            "description": "Previous value"
                          },
                          "new": {
                            "description": "New value"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "Profile has been saved",
                      "data": {
                        "id": 123,
                        "public_username": "john_doe",
                        "profile": {
                          "birth_date": "1990-05-15",
                          "age_display": "Show Exact Age",
                          "weight": 70,
                          "height": 175,
                          "orientation": "Straight",
                          "short_intro": "Looking for meaningful connections",
                          "extended_descriptions": [
                            {
                              "id": 1,
                              "description": "I love traveling and exploring new cultures",
                              "order": 1
                            }
                          ],
                          "family_views": "Open to having children",
                          "financial_views": "Financial stability is important",
                          "long_term_views": "Looking for a life partner",
                          "secret_text": "I'm secretly a great cook",
                          "education_level": "Bachelor's Degree",
                          "profession": "Software Engineer",
                          "religion": "Christian",
                          "ethnicity": "Caucasian",
                          "astrology_belief": "Moderately interested",
                          "personality_type": "INTJ",
                          "location_residence": "New York, NY, USA",
                          "location_residence_place_id": "ChIJOwg_06VPwokRYv534QaPC8g",
                          "location_residence_latitude": 40.7128,
                          "location_residence_longitude": -74.0060,
                          "location_residence_secondary_text": "Manhattan",
                          "relocation_readiness": "Open to relocation",
                          "location_search": "San Francisco, CA, USA",
                          "location_search_place_id": "ChIJIQBpAG2ahYAR_6128GcTUEo",
                          "location_search_latitude": 37.7749,
                          "location_search_longitude": -122.4194,
                          "location_search_secondary_text": "Bay Area",
                          "location_difference_reason": "Career opportunities",
                          "languages": [
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 1,
                              "name": "Photography",
                              "emoji": "📸"
                            }
                          ]
                        }
                      },
                      "changes": {
                        "public_username": {
                          "old": "john_doe_old",
                          "new": "john_doe"
                        },
                        "short_intro": {
                          "old": "Old introduction",
                          "new": "Looking for meaningful connections"
                        },
                        "weight": {
                          "old": 75,
                          "new": 70
                        },
                        "extended_description": {
                          "old": ["Old description"],
                          "new": ["I love traveling and exploring new cultures"]
                        },
                        "languages": {
                          "old": {"en": 4, "fr": 2},
                          "new": {"en": 5, "es": 3}
                        },
                        "hobbies": {
                          "old": ["Photography", "Reading"],
                          "new": ["Photography", "Cooking"]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthenticated."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Please check your inputs and try again."
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "public_username": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["This public username is already taken"]
                        },
                        "birth_date": {
[...]
