{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "DEMO API",
      "url": "https://startup2050.com/api/"
    },
    {
      "description": "Localhost API",
      "url": "http://localhost:8000/api/"
    }
  ],
  "info": {
    "description": "This contains all API for 3M Platform",
    "version": "1.0.0",
    "title": "3M Api",
    "contact": {
      "email": "alfi.dev@startup2050.com",
      "name": "Api Developer",
      "url": ""
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoints related to user authentication, including login, logout, token management, and API key validation. These routes are used to verify user credentials and establish secure access to the API."
    },
    {
      "name": "Profile",
      "description": "Endpoints for viewing, updating, and managing the authenticated user's profile information, such as personal details, preferences, photos, and account settings."
    },
    {
      "name": "Currencies",
      "description": "Get all the available currencies data"
    },
    {
      "name": "Chat",
      "description": "Related endpoints for Chat features"
    }
  ],
  "paths": {
    "/login": {
      "parameters": [],
      "servers": [],
      "post": {
        "summary": "POST",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "login_name": {
                              "type": "string"
                            },
                            "public_username": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "null"
                            },
                            "last_name": {
                              "type": "null"
                            },
                            "email": {
                              "type": "string"
                            },
                            "email_verified_at": {
                              "type": "string"
                            },
                            "email_verified": {
                              "type": "integer"
                            },
                            "gender": {
                              "type": "string"
                            },
                            "partner_preference": {
                              "type": "string"
                            },
                            "relationship_goals": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "profile_picture": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "deleted_at": {
                              "type": "null"
                            },
                            "profile_picture_url": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "Login successful",
                      "data": {
                        "user": {
                          "id": 5,
                          "login_name": "alfi_syah",
                          "public_username": "alfi_syah",
                          "first_name": null,
                          "last_name": null,
                          "email": "mrriyous@gmail.com",
                          "email_verified_at": "2025-06-02T06:15:00.000000Z",
                          "email_verified": 1,
                          "gender": "male",
                          "partner_preference": "female",
                          "relationship_goals": "long-term",
                          "role": "rs",
                          "profile_picture": "profile-pictures/5_1749097276.jpg",
                          "created_at": "2025-06-02T06:14:41.000000Z",
                          "updated_at": "2025-06-05T04:21:16.000000Z",
                          "deleted_at": null,
                          "profile_picture_url": "https://startup2050.com/storage/profile-pictures/5_1749097276.jpg"
                        },
                        "token": "93|y3wTIV52GxASW7x0YYViJVIYy55TBpYrxq0VAzZ0c452f980"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "recaptcha": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "errors": {
                        "recaptcha": [
                          "reCAPTCHA verification failed. Please try again"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "login",
        "description": "",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "is_mobile"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "xd3rw9p0duu5z"
                    }
                  },
                  "password": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "2umpyvtmq04af"
                    }
                  },
                  "recaptcha": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "o3tid2pdqufw1"
                    },
                    "description": "Required if is_mobile != Y"
                  },
                  "is_mobile": {
                    "x-stoplight": {
                      "id": "ov3l324vg1t69"
                    },
                    "enum": [
                      "Y",
                      "N"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Registration",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Response For Step 1",
            "headers": {
              "header-0": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "recaptcha_session_id": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "recaptcha_session_id": "MVlNNTExVFZ3ZFd5Wk9SaDYxRmd0UU9CMFRQQUJYY0cyMDI1LTA2LTA2IDE0OjUxOjIyMTI3LjAuMC4x"
                    }
                  }
                }
              }
            }
          },
          "2XX": {
            "description": "Response For STEP 2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "role": {
                          "type": "string"
                        },
                        "email": {
                          "type": "null"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "null"
                        },
                        "login_name": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "user": {
                        "id": 55,
                        "role": "rs",
                        "email": null,
                        "gender": "male",
                        "last_name": null,
                        "created_at": "2025-06-06T15:11:21.000000Z",
                        "first_name": null,
                        "login_name": "nabil",
                        "updated_at": "2025-06-06T15:11:21.000000Z",
                        "public_username": "ellain",
                        "partner_preference": "female",
                        "relationship_goals": "long_term",
                        "profile_picture_url": "http://localhost:8001/images/placeholder-profile.png"
                      },
                      "error": false,
                      "token": "186|KGMppv3ksgOibqtcVqLXSWfo7GiUkdxD0fsIRLso423dc7da"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "registration",
        "description": "Registration will be having 2 steps for captcha verification at step 1\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "role": "rs",
                    "step": 2,
                    "email": "testinguser@testing.cmo",
                    "budget": 2500,
                    "gender": "male",
                    "currency": "SGD",
                    "password": "Password1234!",
                    "last_name": null,
                    "recaptcha": "03AFcWeA5rVkRfV13la_jGmC6huebt2MolXokDFeMjS5NjJLACG7oKIqk6uPpzm98U4tkTZxT9I5qekOsX9e2ewL-J-LJ3fQbN90Dd9EwpxgzvEAepmh2MGqwMpUkpXLoIeDMd5FuZjulmJzKhsQwsIsCeNsXKGSVHI7G9I77mNJgMm8ouYcct0H0p-TeYHXATHUqoYXrn2Ky-2waZGwuWNfXKRsTNPf0SK82t4ixzV1tYddKkAPJdMd7Y2WgpcW1U8_WqcdkVewNYZGh8CyaqeDhVMJu6JvQfAdXyGYD5PRMMnyu9HuFq1jauyyV5ybsaNTLtm5--c1jVmNnylUeo4GebZ3rNSpxYkxLcg1Y_A-dSVfB6UneTHRXWakkqWJNcQAgD6vfctoqgDjBdXCbj_mXlJp0mZ24E7E4-0z8sN4ksg-luXgrY20WEIjaGgLOm_9R2rnbjqUN05A1sEmI8W_2xOiZqbhHfBiyW71f1oWCbJ3KubYw7loriHaJy4YjzoFQjhzdkbx9O--NUPs_sKa2Xybh6PpROHHGEJgWxqzRglIeaCegXwdzFoqnc0fnaSbQMwSrimjIBLWTIb4G9l5XnS6b83EC-mmS6ORQzDfIspMgjFEkza3KOytYZxf2dKwCkKNowdT9awBcNORb7luy6TrMDL-wRb9NY6TyRPqSkBCdbaZgUKW0N2TTUS1-I0y6QaXeA8PaLbTRyY4VKxveZBdJwul5X--AyD9dRYZzdE0xLng9d-xAHdUJKIzQ18NAgx-be-JnQDoM-RMpDFK4C7tXDtpOdcZUA_6HLZLrBbyaMEOyajxdy5e9rXKizo8bCFyYq-wb60B_5lU27-KvbywRFCN7XvMGL4Ax9hBgJYRqCCsgKZZP26BY56EpXwCWYfqriB6fO8nHM431pyLn3vXuN9mik2FL2wuuOtaAhR7I4OUJMetxrYdYt3dL27vMT7xf3Sny1JEGWljnNBS9PEd14bVgaPkYgxeEj61R6mrMKOwJulB35jlWXmSHP7e_ywUSh75O97jBmEOxdDWKzDpv5uYuF17OH_kPsCbwPSSBCSp_RmviIwIG0-IBzx7Iv5-5_OjZs8DaPlO7wUrpZYMRjM_p1FisFx1qJuOcP34lB19SqZykalerF7DedkgZcMuSPKaf7VSs7nL4Br7kgAQxR21_WltgCojUbT5CbaCTN0a6r5tfYTlGXziYUE5Hf2TutA2bwPB_GkFznQ8V_w5APFkrxCdKtJhVVFqDkzdLtcFBvO0skoOVxg8iSEYj6DRbB3NF7LHqFwG7Q9_NmoH23jGIg5aIsQnDzGxkkJ2nz-r8VLhUFP0NbYmyv-2_SJJSr39nHIMdaod5q3kbXcPk8TxFSsL0MTRS8dtkSY12rNCJkN0m2QvBYNx5h_NFToAdFRXcQbVfibHWee_bajsKcbcw9WfjGS4-cbui7eqM0Ff5wN7CzFNpE5vdJRyrJjU2Nbf81x1qei2hL9eG7aWZFtjKesVN4y0B8X_GvxLM4tQZef3EIS9K1__fUb4ouX2IdgIghS8bUXFV9jeVRlAK0wjR1k7PcW9ZIn3dMkg6ci4qKfeNSdMPZQkFiT8hYl1Y_LZk2jjQqYh_ntUlqSAaEk6CWFtWVkSKnlGqVCgBQlJPEYG20mtPgD3dUh1EPW63sQtzdXxsyp78df_2nV1VT1-hVT2kgFOh8_0KNaoVqx8Ig6GLMJw1Pl8V0KzMzEXINn31axRp5GOBbOLA-0-aqmmN-K72RO7-vyyk4bGK2IGn_x56Wf2eBc9Nd9m3Wso0JqJyrU04tXhg6iCRr8uqigCD26hxWkW3V9CBAEJAMzzJ--da4RMR5RtqJclGEvUoOBFCtOi0l0zxLumAWGxHej9LfF182xORIxFhm-_BI4rLH2FTmPUFCFfuzKr08sSTDSThT_4D51q_6Lz1tcpFtY12CUCZWJbPy-QCzAmbWR-ap9IuMPj4u5pYfCXBsc_AZsoKwuRhJNTl6iei2tispfP259aKQOvX6fZn6jKngZM6yd03hlnnqlKJWk0EM81Au4k1YFjDJxhKjLnWB_twNPNUGiDQ-qC8RleXgllDGSX3WBoU",
                    "first_name": null,
                    "login_name": "joshua_jonan",
                    "terms_accepted": "1",
                    "public_username": "joshua_jonan",
                    "partner_preference": "female",
                    "relationship_goals": "medium_term",
                    "recaptcha_session_id": "c3g4UEx4b0NFd2FOajdVMGltd0FLbTk3dGFEOG82dzkyMDI1LTA2LTA2IDE1OjA0OjE5MTI3LjAuMC4x",
                    "password_confirmation": "Password1234!"
                  }
                },
                "properties": {
                  "role": {
                    "enum": [
                      "rs",
                      "srs"
                    ]
                  },
                  "step": {
                    "type": "integer"
                  },
                  "email": {
                    "type": "string"
                  },
                  "budget": {
                    "type": "integer"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "last_name": {
                    "nullable": true
                  },
                  "recaptcha": {
                    "type": "string",
                    "description": "required on step 1, and if is_mobile != Y"
                  },
                  "first_name": {
                    "nullable": true
                  },
                  "login_name": {
                    "type": "string"
                  },
                  "terms_accepted": {
                    "type": "string"
                  },
                  "public_username": {
                    "type": "string"
                  },
                  "partner_preference": {
                    "type": "string"
                  },
                  "relationship_goals": {
                    "type": "string"
                  },
                  "recaptcha_session_id": {
                    "type": "string",
                    "description": "Required on step2, and is_mobile != Y"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "is_mobile": {
                    "x-stoplight": {
                      "id": "9z1603rfe2g9y"
                    },
                    "enum": [
                      "Y",
                      "N"
                    ]
                  }
                }
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/password/reset-link": {
      "post": {
        "summary": "Send Reset Password Link",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "message": "We have emailed your password reset link."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Error Response Example": {
                    "value": {
                      "error": true,
                      "message": "We can't find a user with that email address.",
                      "errors": {
                        "email": [
                          "We can't find a user with that email address."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-password-reset-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "0qpiuigm74dfo"
                    },
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/verification-request": {
      "post": {
        "summary": "Send Verification Email",
        "tags": [
          "Authentication"
        ],
        "responses": {},
        "operationId": "post-account-verification-request",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user": {
      "get": {
        "summary": "Get User Data",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "login_name": {
                          "type": "string"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "email_verified_at": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "integer"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "deleted_at": {
                          "type": "null"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 14,
                        "login_name": "mrriyous",
                        "public_username": "mrriyous",
                        "first_name": "Alfi",
                        "last_name": "Syahri",
                        "email": "mrriyous@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                },
                "examples": {
                  "Sample Response": {
                    "value": {
                      "data": {
                        "id": 14,
                        "login_name": "user",
                        "public_username": "user",
                        "first_name": "user",
                        "last_name": "1",
                        "email": "testinguser@gmail.com",
                        "email_verified_at": "2025-05-07T13:10:49.000000Z",
                        "email_verified": 1,
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture": "profile-pictures/14_1748358438.jpg",
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z",
                        "deleted_at": null,
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-user",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/basic-info": {
      "get": {
        "summary": "Profile Baisc Info",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        },
                        "email_verified": {
                          "type": "boolean"
                        },
                        "initials": {
                          "type": "string"
                        },
                        "profile": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "birth_date": {
                              "type": "string"
                            },
                            "age_display": {
                              "type": "string"
                            },
                            "orientation": {
                              "type": "string"
                            },
                            "short_intro": {
                              "type": "string"
                            },
                            "weight": {
                              "type": "string"
                            },
                            "height": {
                              "type": "string"
                            },
                            "extended_descriptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {}
                              }
                            },
                            "family_views": {
                              "type": "string"
                            },
                            "financial_views": {
                              "type": "string"
                            },
                            "long_term_views": {
                              "type": "string"
                            },
                            "secret_text": {
                              "type": "string"
                            },
                            "education_level": {
                              "type": "string"
                            },
                            "profession": {
                              "type": "string"
                            },
                            "religion": {
                              "type": "string"
                            },
                            "ethnicity": {
                              "type": "string"
                            },
                            "astrology_belief": {
                              "type": "boolean"
                            },
                            "personality_type": {
                              "type": "string"
                            },
                            "location_residence": {
                              "type": "string"
                            },
                            "location_residence_place_id": {
                              "type": "string"
                            },
                            "location_residence_latitude": {
                              "type": "string"
                            },
                            "location_residence_longitude": {
                              "type": "string"
                            },
                            "location_residence_secondary_text": {
                              "type": "string"
                            },
                            "relocation_readiness": {
                              "type": "string"
                            },
                            "location_search": {
                              "type": "string"
                            },
                            "location_search_place_id": {
                              "type": "string"
                            },
                            "location_search_latitude": {
                              "type": "string"
                            },
                            "location_search_longitude": {
                              "type": "string"
                            },
                            "location_search_secondary_text": {
                              "type": "string"
                            },
                            "location_difference_reason": {
                              "type": "string"
                            },
                            "languages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "code": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "fluency": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "hobbies": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "emoji": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            }
                          }
                        },
                        "profileImages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "thumbnail_url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "public_username": "user",
                        "first_name": "User",
                        "last_name": "User",
                        "email": "user@gmail.com",
                        "gender": "male",
                        "partner_preference": "female",
                        "relationship_goals": "Long term relationships",
                        "role": "rs",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                        "email_verified": true,
                        "initials": "AS",
                        "profile": {
                          "id": 1,
                          "birth_date": "1998-05-16",
                          "age_display": "Show Exact Age",
                          "orientation": "Heterosexual",
                          "short_intro": "Short intro",
                          "weight": "70.00",
                          "height": "170.00",
                          "extended_descriptions": [],
                          "family_views": "Family views",
                          "financial_views": "Financial Views",
                          "long_term_views": "Longterm Views Text",
                          "secret_text": "Secret Text",
                          "education_level": "High School",
                          "profession": "Software Engineer",
                          "religion": "Islam",
                          "ethnicity": "Black",
                          "astrology_belief": true,
                          "personality_type": "introvert",
                          "location_residence": "Jakarta Selatan",
                          "location_residence_place_id": "ChIJs7AiJOzxaS4RAk1AR_7QoDk",
                          "location_residence_latitude": "-6.2474095",
                          "location_residence_longitude": "106.8060767",
                          "location_residence_secondary_text": "South Jakarta City, Jakarta, Indonesia",
                          "relocation_readiness": "yes",
                          "location_search": "Medan",
                          "location_search_place_id": "ChIJ_bI-HMwxMTARYoKQpsgx1CM",
                          "location_search_latitude": "3.5951956",
                          "location_search_longitude": "98.6722227",
                          "location_search_secondary_text": "Medan City, North Sumatra, Indonesia",
                          "location_difference_reason": "I don't know",
                          "languages": [
                            {
                              "id": 5,
                              "code": "de",
                              "name": "German",
                              "fluency": 4
                            },
                            {
                              "id": 14,
                              "code": "ja",
                              "name": "Japanese",
                              "fluency": 5
                            },
                            {
                              "id": 1,
                              "code": "en",
                              "name": "English",
                              "fluency": 5
                            },
                            {
                              "id": 2,
                              "code": "ar",
                              "name": "Arabic",
                              "fluency": 5
                            },
                            {
                              "id": 11,
                              "code": "sv",
                              "name": "Swedish",
                              "fluency": 3
                            },
                            {
                              "id": 9,
                              "code": "zh",
                              "name": "Chinese",
                              "fluency": 5
                            }
                          ],
                          "hobbies": [
                            {
                              "id": 5,
                              "name": "Travel",
                              "emoji": "✈️"
                            },
                            {
                              "id": 1,
                              "name": "Reading",
                              "emoji": "📚"
                            },
                            {
                              "id": 3,
                              "name": "Gaming",
                              "emoji": "🎮"
                            },
                            {
                              "id": 4,
                              "name": "Music",
                              "emoji": "🎵"
                            },
                            {
                              "id": 12,
                              "name": "Fashion",
                              "emoji": "👔"
                            },
                            {
                              "id": 9,
                              "name": "Cooking",
                              "emoji": "🍳"
                            },
                            {
                              "id": 6,
                              "name": "Painting",
                              "emoji": "🎨"
                            },
                            {
                              "id": 8,
                              "name": "Charity",
                              "emoji": "💖"
                            }
                          ],
                          "created_at": "2025-04-16T15:25:06.000000Z",
                          "updated_at": "2025-06-05T06:19:59.000000Z"
                        },
                        "profileImages": [
                          {
                            "id": 14,
                            "url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/14_1748358438.jpg"
                          }
                        ],
                        "created_at": "2025-04-11T14:24:10.000000Z",
                        "updated_at": "2025-05-27T15:07:18.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-basic-info",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/relationship-info": {
      "get": {
        "summary": "Get Profile Relationship Info",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "duration_preference": {
                          "type": "string"
                        },
                        "available_time_morning": {
                          "type": "string"
                        },
                        "available_time_afternoon": {
                          "type": "string"
                        },
                        "available_time_evening": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 14,
                        "relationship_goals": "long_term",
                        "partner_preference": "female",
                        "duration_preference": "Long-term relationship (more than 6 months)",
                        "available_time_morning": "5",
                        "available_time_afternoon": "2",
                        "available_time_evening": "1",
                        "created_at": "2025-04-17T13:50:26.000000Z",
                        "updated_at": "2025-05-01T14:58:30.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-relationship-info",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/financial-info": {
      "get": {
        "summary": "Get Financial Info",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "lifestyle_support_budget": {
                          "type": "string"
                        },
                        "lifestyle_support_budget_in_sc": {
                          "type": "string"
                        },
                        "lifestyle_support_budget_trimmed": {
                          "type": "string"
                        },
                        "lifestyle_support_budget_trimmed_in_sc": {
                          "type": "string"
                        },
                        "capital_level_precise": {
                          "type": "string"
                        },
                        "capital_level_less_precise": {
                          "type": "string"
                        },
                        "monthly_income_precise": {
                          "type": "string"
                        },
                        "monthly_income_less_precise": {
                          "type": "string"
                        },
                        "first_child_payment": {
                          "type": "string"
                        },
                        "second_child_payment": {
                          "type": "string"
                        },
                        "subsequent_child_payment": {
                          "type": "string"
                        },
                        "monthly_child_budget": {
                          "type": "string"
                        },
                        "marriage_gift": {
                          "type": "string"
                        },
                        "growth_bonus": {
                          "type": "string"
                        },
                        "growth_clause": {
                          "type": "string"
                        },
                        "termination_comp": {
                          "type": "string"
                        },
                        "termination_clause": {
                          "type": "string"
                        },
                        "milestone_gifts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "period": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "currency_detail": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "symbol": {
                              "type": "string"
                            },
                            "prefix": {
                              "type": "string"
                            },
                            "suffix": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "updated_at": {
                              "type": "string"
                            },
                            "deleted_at": {
                              "type": "null"
                            },
                            "icon_url": {
                              "type": "string"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "currency": "USD",
                        "lifestyle_support_budget": "2500.00",
                        "lifestyle_support_budget_in_sc": "2500.00",
                        "lifestyle_support_budget_trimmed": "2,500",
                        "lifestyle_support_budget_trimmed_in_sc": "2,500",
                        "capital_level_precise": "$1,000-1,999",
                        "capital_level_less_precise": "below $1,000",
                        "monthly_income_precise": "$100-199",
                        "monthly_income_less_precise": "below $100",
                        "first_child_payment": "1000.00",
                        "second_child_payment": "10200.00",
                        "subsequent_child_payment": "20.00",
                        "monthly_child_budget": "2323.00",
                        "marriage_gift": "123.00",
                        "growth_bonus": "50.00",
                        "growth_clause": "20",
                        "termination_comp": "2000.00",
                        "termination_clause": "6",
                        "milestone_gifts": [
                          {
                            "id": 47,
                            "amount": "500.00",
                            "period": "1y"
                          },
                          {
                            "id": 48,
                            "amount": "1000.00",
                            "period": "2y"
                          },
                          {
                            "id": 49,
                            "amount": "1500.00",
                            "period": "2y"
                          },
                          {
                            "id": 50,
                            "amount": "400.00",
                            "period": "20y"
                          },
                          {
                            "id": 51,
                            "amount": "23.00",
                            "period": "1y"
                          }
                        ],
                        "currency_detail": {
                          "id": 10,
                          "code": "USD",
                          "name": "US Dollar",
                          "symbol": "$",
                          "prefix": "$",
                          "suffix": "",
                          "icon": "/static/icons/currency/usd.png",
                          "created_at": "2025-06-03T12:31:20.000000Z",
                          "updated_at": "2025-06-03T12:31:20.000000Z",
                          "deleted_at": null,
                          "icon_url": "http://localhost:8001/static/icons/currency/usd.png"
                        },
                        "created_at": "2025-04-17T15:04:05.000000Z",
                        "updated_at": "2025-04-17T15:40:19.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "currency": "USD",
                        "lifestyle_support_budget": "2500.00",
                        "lifestyle_support_budget_in_sc": "2500.00",
                        "lifestyle_support_budget_trimmed": "2,500",
                        "lifestyle_support_budget_trimmed_in_sc": "2,500",
                        "capital_level_precise": "$1,000-1,999",
                        "capital_level_less_precise": "below $1,000",
                        "monthly_income_precise": "$100-199",
                        "monthly_income_less_precise": "below $100",
                        "first_child_payment": "1000.00",
                        "second_child_payment": "10200.00",
                        "subsequent_child_payment": "20.00",
                        "monthly_child_budget": "2323.00",
                        "marriage_gift": "123.00",
                        "growth_bonus": "50.00",
                        "growth_clause": "20",
                        "termination_comp": "2000.00",
                        "termination_clause": "6",
                        "milestone_gifts": [
                          {
                            "id": 47,
                            "amount": "500.00",
                            "period": "1y"
                          },
                          {
                            "id": 48,
                            "amount": "1000.00",
                            "period": "2y"
                          },
                          {
                            "id": 49,
                            "amount": "1500.00",
                            "period": "2y"
                          },
                          {
                            "id": 50,
                            "amount": "400.00",
                            "period": "20y"
                          },
                          {
                            "id": 51,
                            "amount": "23.00",
                            "period": "1y"
                          }
                        ],
                        "currency_detail": {
                          "id": 10,
                          "code": "USD",
                          "name": "US Dollar",
                          "symbol": "$",
                          "prefix": "$",
                          "suffix": "",
                          "icon": "/static/icons/currency/usd.png",
                          "created_at": "2025-06-03T12:31:20.000000Z",
                          "updated_at": "2025-06-03T12:31:20.000000Z",
                          "deleted_at": null,
                          "icon_url": "http://localhost:8001/static/icons/currency/usd.png"
                        },
                        "created_at": "2025-04-17T15:04:05.000000Z",
                        "updated_at": "2025-04-17T15:40:19.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-financial-info",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/living-info": {
      "get": {
        "summary": "Your GET endpoint",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user_id": {
                          "type": "integer"
                        },
                        "driving_license_availability": {
                          "type": "string"
                        },
                        "car_availability": {
                          "type": "string"
                        },
                        "driver_availability": {
                          "type": "string"
                        },
                        "living_format_test_moon": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract": {
                          "type": "string"
                        },
                        "living_format_final_contract": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_url": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_thumbnail_url": {
                          "type": "string"
                        },
                        "housing_image_url": {
                          "type": "null"
                        },
                        "housing_image_thumbnail_url": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "error": false,
                      "data": {
                        "id": 1,
                        "user_id": 14,
                        "driving_license_availability": "no",
                        "car_availability": "yes",
                        "driver_availability": "yes",
                        "living_format_test_moon": "together_own_room",
                        "living_format_preliminary_contract": "together_one_room",
                        "living_format_final_contract": "together_own_room",
                        "living_format_test_moon_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565097964.jpg",
                        "living_format_test_moon_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565097964.jpg",
                        "living_format_preliminary_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17470565091008.jpg",
                        "living_format_preliminary_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17470565091008.jpg",
                        "living_format_final_contract_image_url": "http://localhost:8000/storage/living-form-pictures/pi_14_17483521547766.jpg",
                        "living_format_final_contract_image_thumbnail_url": "http://localhost:8000/storage/living-form-pictures/pi_thumb_14_17483521547766.jpg",
                        "housing_image_url": null,
                        "housing_image_thumbnail_url": null,
                        "created_at": "2025-04-18T14:52:34.000000Z",
                        "updated_at": "2025-05-27T13:22:34.000000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-profile-living-info",
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/profile/picture": {
      "post": {
        "summary": "Upload User Profile Picture",
        "tags": [
          "Profile"
        ],
        "responses": {},
        "operationId": "post-profile-picture",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "u3b18ioxwiokc"
                    },
                    "description": "file"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/about": {
      "post": {
        "summary": "Update Profile About Section",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "role": {
                          "type": "string"
                        },
                        "email": {
                          "type": "null"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "profileImages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "thumbnail_url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "email_verified": {
                          "type": "boolean"
                        },
                        "public_username": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "profile_picture_url": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 52,
                        "role": "rs",
                        "email": null,
                        "gender": "female",
                        "initials": "NH",
                        "last_name": "Hajime",
                        "created_at": "2025-06-03T14:31:06.000000Z",
                        "first_name": "Noshi",
                        "updated_at": "2025-06-05T06:27:44.000000Z",
                        "profileImages": [
                          {
                            "id": 52,
                            "url": "http://localhost:8000/storage/profile-pictures/52_1749104864.jpg",
                            "thumbnail_url": "http://localhost:8000/storage/profile-pictures/52_1749104864.jpg"
                          }
                        ],
                        "email_verified": true,
                        "public_username": "noshi",
                        "partner_preference": "female",
                        "relationship_goals": "long_term",
                        "profile_picture_url": "http://localhost:8000/storage/profile-pictures/52_1749104864.jpg"
                      },
                      "error": false,
                      "message": "Profile updated successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-profile-about",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "height": {
                    "type": "string"
                  },
                  "weight": {
                    "type": "string"
                  },
                  "hobbies": {
                    "type": "string"
                  },
                  "religion": {
                    "type": "string"
                  },
                  "ethnicity": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "code": {
                          "type": "string"
                        },
                        "known": {
                          "type": "boolean"
                        },
                        "fluency": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "birth_date": {
                    "type": "string"
                  },
                  "profession": {
                    "type": "string"
                  },
                  "age_display": {
                    "type": "string"
                  },
                  "orientation": {
                    "type": "string"
                  },
                  "secret_text": {
                    "type": "string"
                  },
                  "short_intro": {
                    "type": "string"
                  },
                  "family_views": {
                    "type": "string"
                  },
                  "education_level": {
                    "type": "string"
                  },
                  "financial_views": {
                    "type": "string"
                  },
                  "location_search": {
                    "type": "string"
                  },
                  "long_term_views": {
                    "type": "string"
                  },
                  "public_username": {
                    "type": "string"
                  },
                  "astrology_belief": {
                    "type": "integer"
                  },
                  "personality_type": {
                    "type": "string"
                  },
                  "location_residence": {
                    "type": "string"
                  },
                  "partner_preference": {
                    "type": "null"
                  },
                  "relationship_goals": {
                    "type": "null"
                  },
                  "duration_preference": {
                    "type": "null"
                  },
                  "extended_description": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "relocation_readiness": {
                    "type": "string"
                  },
                  "available_time_evening": {
                    "type": "null"
                  },
                  "available_time_morning": {
                    "type": "null"
                  },
                  "available_time_afternoon": {
                    "type": "null"
                  },
                  "location_search_latitude": {
                    "type": "string"
                  },
                  "location_search_place_id": {
                    "type": "string"
                  },
                  "location_search_longitude": {
                    "type": "string"
                  },
                  "location_difference_reason": {
                    "type": "string"
                  },
                  "location_residence_latitude": {
                    "type": "string"
                  },
                  "location_residence_place_id": {
                    "type": "string"
                  },
                  "location_residence_longitude": {
                    "type": "string"
                  },
                  "location_search_secondary_text": {
                    "type": "string"
                  },
                  "location_residence_secondary_text": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "height": "180",
                    "weight": "80",
                    "hobbies": "6,2",
                    "religion": "islam",
                    "ethnicity": "hispanic",
                    "languages": [
                      {
                        "id": 1,
                        "code": "en",
                        "known": true,
                        "fluency": 5
                      },
                      {
                        "id": 2,
                        "code": "ar",
                        "known": true,
                        "fluency": 4
                      }
                    ],
                    "birth_date": "1998-06-04",
                    "profession": "profession",
                    "age_display": "Show Age Range",
                    "orientation": "Homosexual",
                    "secret_text": "secret",
                    "short_intro": "short text",
                    "family_views": "family",
                    "education_level": "education",
                    "financial_views": "financial",
                    "location_search": "Fukushima Road",
                    "long_term_views": "long term",
                    "public_username": "noshi",
                    "astrology_belief": 1,
                    "personality_type": "introvert",
                    "location_residence": "Route 9W",
                    "partner_preference": null,
                    "relationship_goals": null,
                    "duration_preference": null,
                    "extended_description": [
                      "long txext",
                      "long text 2"
                    ],
                    "relocation_readiness": "yes",
                    "available_time_evening": null,
                    "available_time_morning": null,
                    "available_time_afternoon": null,
                    "location_search_latitude": "40.9309767",
                    "location_search_place_id": "EjpGdWt1c2hpbWEgUm9hZCwg5LiL44K_55SwIEtvbWluYXRvLCBIaXJhbmFpLCBBb21vcmksIEphcGFuIi4qLAoUChIJL1956lGBm18RW1_AzbzAP00SFAoSCU-NdaRRgZtfEcEQ-3c2pG-a",
                    "location_search_longitude": "140.9568002",
                    "location_difference_reason": "reason",
                    "location_residence_latitude": "40.9602943",
                    "location_residence_place_id": "EhlSb3V0ZSA5VywgQWxwaW5lLCBOSiwgVVNBIi4qLAoUChIJL90qWbIV3YkR-1EsJ9q2-PISFAoSCTPcCM4Y8sKJEUE3jqhaxgKe",
                    "location_residence_longitude": "-73.9204738",
                    "location_search_secondary_text": "下タ田 Kominato, Hiranai, Aomori, Japan",
                    "location_residence_secondary_text": "Alpine, NJ, USA"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "height": "180",
                    "weight": "80",
                    "hobbies": "6,2",
                    "religion": "islam",
                    "ethnicity": "hispanic",
                    "languages": [
                      {
                        "id": 1,
                        "code": "en",
                        "known": true,
                        "fluency": 5
                      },
                      {
                        "id": 2,
                        "code": "ar",
                        "known": true,
                        "fluency": 4
                      }
                    ],
                    "birth_date": "1998-06-04",
                    "profession": "profession",
                    "age_display": "Show Age Range",
                    "orientation": "Homosexual",
                    "secret_text": "secret",
                    "short_intro": "short text",
                    "family_views": "family",
                    "education_level": "education",
                    "financial_views": "financial",
                    "location_search": "Fukushima Road",
                    "long_term_views": "long term",
                    "public_username": "noshi",
                    "astrology_belief": 1,
                    "personality_type": "introvert",
                    "location_residence": "Route 9W",
                    "partner_preference": null,
                    "relationship_goals": null,
                    "duration_preference": null,
                    "extended_description": [
                      "long txext",
                      "long text 2"
                    ],
                    "relocation_readiness": "yes",
                    "available_time_evening": null,
                    "available_time_morning": null,
                    "available_time_afternoon": null,
                    "location_search_latitude": "40.9309767",
                    "location_search_place_id": "EjpGdWt1c2hpbWEgUm9hZCwg5LiL44K_55SwIEtvbWluYXRvLCBIaXJhbmFpLCBBb21vcmksIEphcGFuIi4qLAoUChIJL1956lGBm18RW1_AzbzAP00SFAoSCU-NdaRRgZtfEcEQ-3c2pG-a",
                    "location_search_longitude": "140.9568002",
                    "location_difference_reason": "reason",
                    "location_residence_latitude": "40.9602943",
                    "location_residence_place_id": "EhlSb3V0ZSA5VywgQWxwaW5lLCBOSiwgVVNBIi4qLAoUChIJL90qWbIV3YkR-1EsJ9q2-PISFAoSCTPcCM4Y8sKJEUE3jqhaxgKe",
                    "location_residence_longitude": "-73.9204738",
                    "location_search_secondary_text": "下タ田 Kominato, Hiranai, Aomori, Japan",
                    "location_residence_secondary_text": "Alpine, NJ, USA"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/relationship": {
      "post": {
        "summary": "Update Profile Relationship Section",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user_id": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "deleted_at": {
                          "type": "null"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "partner_preference": {
                          "type": "string"
                        },
                        "relationship_goals": {
                          "type": "string"
                        },
                        "duration_preference": {
                          "type": "string"
                        },
                        "available_time_evening": {
                          "type": "string"
                        },
                        "available_time_morning": {
                          "type": "string"
                        },
                        "available_time_afternoon": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 25,
                        "user_id": 52,
                        "created_at": "2025-06-03T14:31:06.000000Z",
                        "deleted_at": null,
                        "updated_at": "2025-06-08T13:48:01.000000Z",
                        "partner_preference": "female",
                        "relationship_goals": "Relationship Itself and Possibly Kids",
                        "duration_preference": "Medium term relationship (up to 6 months)",
                        "available_time_evening": "0",
                        "available_time_morning": "0.5",
                        "available_time_afternoon": "0.5"
                      },
                      "error": false,
                      "message": "Relationship preferences updated successfully"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "id": 25,
                        "user_id": 52,
                        "created_at": "2025-06-03T14:31:06.000000Z",
                        "deleted_at": null,
                        "updated_at": "2025-06-08T13:48:01.000000Z",
                        "partner_preference": "female",
                        "relationship_goals": "Relationship Itself and Possibly Kids",
                        "duration_preference": "Medium term relationship (up to 6 months)",
                        "available_time_evening": "0",
                        "available_time_morning": "0.5",
                        "available_time_afternoon": "0.5"
                      },
                      "error": false,
                      "message": "Relationship preferences updated successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-profile-relationship",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partner_preference": {
                    "type": "string"
                  },
                  "relationship_goals": {
                    "type": "string"
                  },
                  "duration_preference": {
                    "type": "string"
                  },
                  "available_time_evening": {
                    "type": "string"
                  },
                  "available_time_morning": {
                    "type": "string"
                  },
                  "available_time_afternoon": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "partner_preference": "female",
                    "relationship_goals": "Relationship Itself and Possibly Kids",
                    "duration_preference": "Medium term relationship (up to 6 months)",
                    "available_time_evening": "0",
                    "available_time_morning": "0.5",
                    "available_time_afternoon": "0.5"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/financial": {
      "post": {
        "summary": "Update Profile Financial Section",
        "tags": [
          "Profile"
        ],
        "responses": {},
        "operationId": "post-profile-financial",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "growth_bonus": {
                    "type": "string"
                  },
                  "growth_clause": {
                    "type": "string"
                  },
                  "marriage_gift": {
                    "type": "string"
                  },
                  "termination_comp": {
                    "type": "string"
                  },
                  "milestone_amounts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "milestone_periods": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "termination_clause": {
                    "type": "string"
                  },
                  "first_child_payment": {
                    "type": "string"
                  },
                  "monthly_child_budget": {
                    "type": "string"
                  },
                  "second_child_payment": {
                    "type": "string"
                  },
                  "capital_level_precise": {
                    "type": "string"
                  },
                  "monthly_income_precise": {
                    "type": "string"
                  },
                  "lifestyle_support_budget": {
                    "type": "string"
                  },
                  "subsequent_child_payment": {
                    "type": "string"
                  },
                  "capital_level_less_precise": {
                    "type": "string"
                  },
                  "monthly_income_less_precise": {
                    "type": "string"
                  }
                },
                "x-examples": {
                  "Example 1": {
                    "growth_bonus": "2.00",
                    "growth_clause": "2",
                    "marriage_gift": "323.00",
                    "termination_comp": "12344.00",
                    "milestone_amounts": [
                      "23.00",
                      "123.00"
                    ],
                    "milestone_periods": [
                      "1y",
                      "3y"
                    ],
                    "termination_clause": "2",
                    "first_child_payment": "2400.00",
                    "monthly_child_budget": "200.00",
                    "second_child_payment": "2000.00",
                    "capital_level_precise": "$1,000-1,999",
                    "monthly_income_precise": "$1,000-1,999",
                    "lifestyle_support_budget": "1200.00",
                    "subsequent_child_payment": "122.00",
                    "capital_level_less_precise": "$1,000-9,999",
                    "monthly_income_less_precise": "$100-999"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "growth_bonus": "2.00",
                    "growth_clause": "2",
                    "marriage_gift": "323.00",
                    "termination_comp": "12344.00",
                    "milestone_amounts": [
                      "23.00",
                      "123.00"
                    ],
                    "milestone_periods": [
                      "1y",
                      "3y"
                    ],
                    "termination_clause": "2",
                    "first_child_payment": "2400.00",
                    "monthly_child_budget": "200.00",
                    "second_child_payment": "2000.00",
                    "capital_level_precise": "$1,000-1,999",
                    "monthly_income_precise": "$1,000-1,999",
                    "lifestyle_support_budget": "1200.00",
                    "subsequent_child_payment": "122.00",
                    "capital_level_less_precise": "$1,000-9,999",
                    "monthly_income_less_precise": "$100-999"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile/living": {
      "post": {
        "summary": "Update Profile Living Section",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "user_id": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "housing_image": {
                          "type": "string"
                        },
                        "car_availability": {
                          "type": "null"
                        },
                        "driver_availability": {
                          "type": "null"
                        },
                        "housing_image_thumbnail": {
                          "type": "string"
                        },
                        "living_format_test_moon": {
                          "type": "null"
                        },
                        "driving_license_availability": {
                          "type": "null"
                        },
                        "living_format_final_contract": {
                          "type": "null"
                        },
                        "living_format_test_moon_image": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract": {
                          "type": "null"
                        },
                        "living_format_final_contract_image_url": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_thumbnail": {
                          "type": "string"
                        },
                        "living_format_preliminary_contract_image": {
                          "type": "string"
                        },
                        "living_format_test_moon_image_thumbnail_url": {
                          "type": "string"
                        },
                        "living_format_final_contract_image_thumbnail": {
[...]
